button.forgot_pwd.redbtn Forgot Password?
#forgotPwd.hidden
    .login__form
        .forgt__head
            h2 Forgot Your Password? 
            img#closeBtn(src="/images/cancel.png" alt="cancel_img")
        h3 Enter your Email address below and we will mail you a token. 
        form
            label.form__label(for='email') Email Address
            input#forgot_email.form__input(type='email', placeholder='you@example.com', required)
            button.btn__forgotPwd.redbtn Send Reset Token
        p Token sent is valid only for 10min. Re-submit your email to get new token.

script(src="js/alert.js") 
script(src="js/auth/forgotpwd.js") 