.course__sidebar 
    .course__sidebar__inner
        .course__head.hidden 
            p Content 
            i.fa-solid.fa-circle-xmark.closeCourseHam
        a(href="/vporti/courses/getting-started") Getting Started
        ul.sub__heading 
            li 
                a(href="/vporti/courses/getting-started#course__nav__login") Login || Singup 
            li 
                a(href="/vporti/courses/getting-started#course__nav__after") After Login 
        a(href="/vporti/courses/custom-theme") Custom Theme 
        ul.sub__heading 
            li 
                a(href="/vporti/courses/custom-theme#course__nav__detail") Navbar 
            li 
                a(href="/vporti/courses/custom-theme#course__nav__cov") Cover Pic 
            li 
                a(href="/vporti/courses/custom-theme#course__nav__bod") Body Sec 
            li 
                a(href="/vporti/courses/custom-theme#course__nav__item") Item Sec 
            li 
                a(href="/vporti/courses/custom-theme#course__nav__order") Order Sec 
            li 
                a(href="/vporti/courses/custom-theme#course__nav__footer") Footer
        a(href="/vporti/courses/portfolio") Portfolio 
        ul.sub__heading 
            li 
                a(href="/vporti/courses/portfolio#fill__port") Filling Details 
            li 
                a(href="/vporti/courses/portfolio#access__port") Access Portfolio
            li 
                a(href="/vporti/courses/portfolio#add__img__port") Add Image 
            
        a(href="/vporti/courses/invitation") Invitation 
        ul.sub__heading
            li 
                a(href="/vporti/courses/invitation#") Filling Details
        a(href="/vporti/courses/food-menu") Food Menu 
        ul.sub__heading 
            li 
                a(href="/vporti/courses/food-menu#add__to__menu") Add To Menu
            li
                a(href="/vporti/courses/food-menu#orders__reserve") Orders and Reservation 
            li
                a(href="/vporti/courses/food-menu#menu__banner") Create Banner 
            li
                a(href="/vporti/courses/food-menu#menu__terms") Terms and Policies
        a(href="/vporti/courses/catalog") Catalog 
        ul.sub__heading 
            li 
                a(href="/vporti/courses/catalog#add__to__catalog") Add To Catalog
            li
                a(href="/vporti/courses/catalog#access__catal") Access Your Catalog  
            li
                a(href="/vporti/courses/catalog#order__return") Orders and Return
            li
                a(href="/vporti/courses/catalog#update__catal") Update Company 
            li
                a(href="/vporti/courses/catalog#banner__catal") Create Banner 
            li
                a(href="/vporti/courses/catalog#terms__catal") Terms and Policies
        a(href="/vporti/courses/brochure") Brochure 
        ul.sub__heading 
            li 
                a(href="/vporti/courses/brochure#add__to__bro") Add To Brochure
            li
                a(href="/vporti/courses/brochure#acess__bro") Access Your Brochure  
            li
                a(href="/vporti/courses/brochure#bookings") Bookings 
            li
                a(href="/vporti/courses/brochure#update__org") Update Organization 
            li
                a(href="/vporti/courses/brochure#banner__bro") Create Banner 
            li
                a(href="/vporti/courses/brochure#terms__bro") Terms and Policies
        a(href="/vporti/courses/account-setting") Account Settings 
        ul.sub__heading 
            li Change Profile Picture 
            li Change User Name 
            li Change Email Address 
            li Update Password 
            li Forgot Password
            li Switch Account 
            li Close Account 
            li Activity
        a(href="/vporti/courses/update-webpage-detail") Update Webpage Detail