doctype html
html(lang="en-GB")
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(name="keywords" content="Catalogue, Catalog, Brochure, Business")
      meta(name="description" content="Create Catalouge, Brochure For Free. Easily Create your business product catalogue. Be it any kind of product just add your items to catalouge and share it.")
      link(rel="icon" href="/images/smalport.png" type="image/x-icon")
      link(rel='stylesheet' href='/css/menu/menuStyles.css')
      link(rel='stylesheet' href='/css/catalouge/addStyle.css')
      link(rel='stylesheet' href='/css/catalouge/firstCatalougeStyles.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      title #{title} | Porti 

  body()

    // CONTENT
    block content
      h1 This is a placeholder heading