extends baseCatalouge 

block content
    h1.loader
        .bink
            img.porti__of__img(src="/images/smalport.png", alt="porti__img")
            span vPor
            span.grn t
            span.nocaps i
    h1 Custom Page    

    script(src="/js/alert.js") 
