extends baseCatalouge 

block content

    .loader
        .out__load
            .inn__load
                .inner__loader
        p.lodtl Tech 
            span.lodmid Mafia
                span.lodend ...