doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel="icon" href="/images/hitman.png" type="image/x-icon")
      link(rel='stylesheet' href='/css/layoutStyle.css')
      link(rel="stylesheet", href='/css/firstStyles.css')
      link(rel="stylesheet", href="/css/secondStyles.css")
      link(rel="stylesheet", href="/css/thirdStyles.css")
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title #{title} | TechMafia 

  body()

    // CONTENT
    block content
      h1 This is a placeholder heading
