doctype html
html(lang="en-GB")
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(name="keywords" content="Portfolio, CV, Curriculum Vitae Cover letter, Biodata, Bio-Data")
      meta(name="description" content="Create Your Portfolio Webpage For Free. Create Share With Anyone, Access it from anywhere. Forget the boring process of same old typing saving and printing your CV. Change to Portfolio Now.")
      link(rel="icon" href="/images/hitman.png" type="image/x-icon")
      link(rel='stylesheet' href='/css/layoutStyle.css')
      link(rel="stylesheet", href='/css/firstStyles.css')
      link(rel="stylesheet", href="/css/secondStyles.css")
      link(rel="stylesheet", href="/css/thirdStyles.css")
      link(rel="stylesheet", href="/css/fourthStyles.css")
      link(rel="stylesheet", href="/css/fifthStyles.css")
      link(rel="stylesheet", href="/css/sixthStyles.css")
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      title #{title} | TechMafia 

  body()

    // CONTENT
    block content
      h1 This is a placeholder heading
