extends baselayout

block content
    if (user)
        if (portfolio.user.id == user._id)
            img.loader.hidden(src="/images/loading.gif", alt="loader")
            .land__content
                .land__nav__main
                    .land__nav
                        a.land__head(href="/me")
                            if (user.photo)
                                img.userdp(src=`/images/users/${user.photo}`, alt="prof__pic")
                            else 
                                img.userdp.satProf(src="/images/hitman.png", alt="prof__pic")
                        a.port_sec_head(href="/")
                            h1 Tech 
                                span Mafia
                        #logout.logout
                            img(src="/images/poweroff.png", alt="signout")
                    .land__nav__sub 
                        a(href="/porti")
                            img(src="/images/plus.png", alt="view_port")
                        #goto__viewInvites
                            img(src="/images/invite.png", alt="view_port")
                .land__goto
                    h1#port_name= `${portfolio.name}`
                    p Go to your portfolio
                    .port__link
                        a#urlLink
                            span#endpoint= `${portfolio._id}`

                    .copy__link 
                        button#copyLink.redbtn Copy Link
            .sec__land__bod
                .del__port#delPp 
                    .del__bod
                        button#delPort.redbtn Delete Portfolio
                .dt__cf.hidden
                    h1 Are you sure you want to delete Your Portfolio?
                    .delete__Confirm
                        .yesDelete.redbtn Confrim
                        .noDelete.redbtn Abort
                if (portfolio.theme !== 'da98568d1b2005611973ad49868b38aa8ae68fd7')
                    if (portfolio.theme == '836b9b955a98e0f2e2d678c179696d6ac53356eb')
                        include _updateThree.pug
                    else
                        include _updateOne.pug
                else
                    include _updateTwo.pug
        else 
            .confirm__pg
                h1 You Dont Belong Here, Use Your Phone Number
                a.redbtn(href="/porti") Go Back
    else 
        .notifier
            h1 You are not Logged In! Please Log In 
            a.redbtn(href="/login") Log In

    script(src="/js/alert.js")
    script(src="/js/layouts/baseLand.js")      
    script(src="/js/delete.js") 
    script(src="/js/logout.js")
     