extends baselayout

block content
    if (user)
        if (portfolio.user.id == user._id)
            img.loader.hidden(src="/images/loading.gif", alt="loader")
            .land__content
                .land__nav
                    h1.land__head Your Creations
                    #logout.logout
                        img(src="/images/poweroff.png", alt="signout")
            
                .land__goto
                    h1#port_name= `${portfolio.name}`
                    p Go to your portfolio
                    .port__link
                        a#urlLink
                            span#endpoint= `${portfolio._id}`

                    .copy__link 
                        button#copyLink.redbtn Copy Link
                if (portfolio.theme !== 'da98568d1b2005611973ad49868b38aa8ae68fd7')
                    include _updateOne.pug
                else
                    include _updateTwo.pug
            .del__port 
                .del__bod
                    button#delPort.redbtn Delete Portfolio
            .dt__cf.hidden
                h1 Are you sure you want to delete Your Portfolio?
                .delete__Confirm
                    .yesDelete.redbtn Confrim
                    .noDelete.redbtn Abort
        else 
            .confirm__pg
                h1 You Dont Belong Here, Use Your Phone Number
                a.redbtn(href="/porti") Go Back
    else 
        .notifier
            h1 You are not Logged In! Please Log In 
            a.redbtn(href="/login") Log In

    script(src="/js/alert.js")
    script(src="/js/layouts/baseLand.js")      
    script(src="/js/delete.js") 
    script(src="/js/logout.js")
     