extends baselayout

block content
    if (user)
        if (invite.user.id == user._id)
            img.loader.hidden(src="/images/loading.gif", alt="loader")
            .land__content
                .land__nav__main
                    .land__nav
                        a.land__head(href="/me")
                            if (user.photo)
                                img.userdp(src=`/images/users/${user.photo}`, alt="prof__pic")
                            else 
                                img.userdp.satProf(src="/images/hitman.png", alt="prof__pic")
                        a.port_sec_head(href="/")
                            h1 Tech 
                                span Mafia
                        #logout.logout
                            img(src="/images/poweroff.png", alt="signout")
                    .land__nav__sub 
                        a(href="/porti")
                            img(src="/images/plus.png", alt="view_port")
                        #goto__portfolio
                            img(src="/images/porti.png", alt="view_port")
                .land__goto
                    h1#invite_name= `${invite.fname} and ${invite.sname}`
                    p View Your Invitation
                    .port__link
                        a#inviteurlLink
                            span#inviteendpoint= `${invite._id}`

                    .copy__link 
                        button#copyinviteLink.redbtn Copy Link
            .sec__land__bod
                .del__port#delinvi 
                    .del__bod
                        button#delInvite.redbtn Delete Invitation
                .dt__cf.hidden
                    h1 Are you sure you want to delete Your Invitation?
                    .delete__Confirm
                        .yesDelete.redbtn Confrim
                        .noDelete.redbtn Abort
                h2 Updating Section
        else 
            .confirm__pg
                h1 You Dont Belong Here, Use Your Phone Number
                a.redbtn(href="/porti") Go Back
    else 
        .notifier
            h1 You are not Logged In! Please Log In 
            a.redbtn(href="/login") Log In

    script(src="/js/alert.js")
    script(src="/js/layouts/inviLand.js")      
    script(src="/js/delete.js") 
    script(src="/js/logout.js")