.nav 
    a.nav__head(href="/porti" title="layouts")
        img.lay__img(src="/images/portal.png", alt="add__img")
        p.name__tag Layouts
    a.nav__head.porti__head(href="/" title="home")
        img.porti__off__img(src="/images/smalport.png", alt="porti__img")
        span vPor
        span.grn t
        span.nocaps i