doctype html
html(lang="en-GB")
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(name="keywords" content="Portfolio, CV, Cover letter, Biodata, Invitation, Card, Menu, Catalogue, Catalog, Brochure")
      meta(name="description" content="Create Portfolio, Menu, Catalog, Invitation for free")
      script(src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js")
      link(rel="apple-touch-icon" href="https://portiblobstorage.blob.core.windows.net/portithemeimage/smalport.png")
      link(rel="icon" href="https://portiblobstorage.blob.core.windows.net/portithemeimage/smalport.png" type="image/x-icon")
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel="stylesheet", href="/css/paymentStyle.css")
      title Porti | #{title}

  body()

    // CONTENT
    block content
      h1 This is a placeholder heading