extends basePayment 

block content 
    h1.loader
        img.porti__off__img(src="/images/smalport.png", alt="porti__img")
        span vPor
        span.grn t
        span.nocaps i

    if (!user)
        include _navbar
        .payment__cont
            h1.cdred Please Sign in to your account! 

    else 
        .main__cont
            include _navbar
            .payment__cont
                h2.cdred Failure! Your Payment with esewa has failed! Please try again

    script(src="/js/alert.js") 