html{
    font-size: 10px;
    scrollbar-width: thin;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

body{
    background-color: rgb(0, 26, 0);
    font-family: Arial, Helvetica, sans-serif !important;
    color: white;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    display: none;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(27, 27, 27); 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: rgb(160, 159, 159); 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #a7a6a6; 
}

.port__nav{
    display: flex;
    flex-direction: column;
}
  
.port__nav__first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
}
  
.port__nav__sub{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
  
.port__nav__second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%;
    align-items: center;
}

.porti__off__img{
    margin-left: 1%;
    margin-right: 4%;
}

.menu__bar {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .menu__size{
    width: 40vw;
    animation: shine 4s ease-in-out forwards infinite;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2%;
  }

.menu__bar a {
    font-size: 20px;
    font-variant: small-caps;
    color: white;
    text-decoration: none;
}

.main__navigation{
    display: flex;
    height: 100vh;
    position: fixed;
    left: 0;
  }
  
  .navigation {
    background-color: rgb(0, 26, 0);
    animation: shine 4s ease-in-out forwards infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    font-variant: small-caps;
    width: 15vw;
  }
  
.navigation a{
    text-decoration: none;
    color: white;
}

#menuImg:hover{
    filter: grayscale(.7)
}

.anavi:hover{
    color: greenyellow;
}

.scaps{
    font-size: 16px;
    /* font-variant: small-caps;
    letter-spacing: 2px; */
}

.nocaps{
    font-variant: normal;
}

.nocapsmall{
    font-size: 16px !important;
    font-variant: normal;
  }

.menu__messages__btn, .menu__reserve__btn{
    position: fixed;
    z-index: 1;
    top: 10vh;
    width: 5rem;
    height: 5rem;
    border-radius: 12rem;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu__messages__btn{
    right: 2vw;
}

.menu__reserve__btn{
    left: 16vw;
}

.new__menu__msg, .new__menu__reserve{
    position: fixed;
    z-index: 2;
    top: 11vh;
    width: 1rem;
    height: 1rem;
    border-radius: 8rem;
    background-color: orangered;
}

.new__menu__msg{
    right: 4vw;
}

.new__menu__reserve{
    left: 18vw;
}

.menu__message__secetion{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__reserve__secetion{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__message__mid__sec, .menu__reveived__msg, .menu__reserve__mid__sec, .menu__reveived__reserve{
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 50%;
    height: 90%;
    overflow-y: auto;
    scrollbar-width: none;
    border-radius: 2rem;
}


.menu__message__head, .menu__reserve__head{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu__message__bod, .menu__message__bod__prev, .menu__reserve__bod, .menu__reserve__bod__prev{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.menu__message__bod__prev, .menu__reserve__bod__prev{
    flex-direction: column;
}

.menu__reveived__msg__bod, .menu__reveived__reserve__bod{
    width: 100%;
}

.menu__msg__table__list, .menu__reserve__table__list{
    font-family: monospace;
    font-size: 16px;
    padding: 2%;
    width: 90%;
    border-radius: 2rem;
    margin: 1%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.menu__msg__table__list, .menu__reserve__table__list{
    background-color: rgb(15, 15, 15);
    border: 1px solid gray;
}

.hmcolor{
    background-color: rgba(20, 140, 220, 0.616);
    border: 1px solid rgba(20, 140, 220, 0.616); 
}

.msg__table__bod{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oder__mesg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ordermsg{
    font-size: 20px;
    background-color: teal;
    padding: 2%;
    border-radius: 2rem;
}

.rdorng, .grncf, .rd{
    font-size: 20px;
    padding: 2%;
    border-radius: 2rem;
}

.rdorng{
    background-color: orangered;
}

.ordbtn{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid teal;
    color: teal;
    padding: 2%;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.ordbtn:hover{
    background-color: teal;
    color: black;
}

.grp__button{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.usersmalltag{
    font-size: 16px;
    margin: 0;
    color: gray;
}

.dotnoti{
    width: 1rem;
    height: 1rem;
    border-radius: 8rem;
    background-color: orangered;
}

.whole__menu__sec{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu__section{
    width: 80vw;
}

.logout{
    color: orangered !important;
    text-decoration: none;
}
  
.port__head{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: cursive;
    font-weight: 900;
}
  
.portDet{
    color: white;
    font-size:large;
}
  
.port__head:hover{
    color: rgb(253, 22, 68);
}
  
.port_sec_head{
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    display: flex;
    align-items: baseline;
}
  
.port_sec_head span{
    font-size: 2rem;
    font-weight: 900;
}

.noletterspace{
    letter-spacing: normal;
  }

.grn{
    color: rgb(54, 219, 54);
}  

.profPic{
    width: 10rem;
    height: 10rem;
    border-radius: 8rem;
}
  
.satProf{
    filter: saturate(2);
}
  
.userDp{
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
}

.loader{
    background-color: rgb(0, 26, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    scroll-behavior: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.bink{
    animation: blink 1.5s infinite linear;
}

.smallest__cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
  
.name__tag{
    margin-top: 0;
    color: white;
    font-size: 8px;
    font-weight: 100;
    font-family: monospace;
}

.banner{
    background-color: rgba(240, 204, 88, 0.637);
    padding: 1.5%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 1.5rem;
}

.bdcb{
    color: gray;
}

.arr{
    margin: 1%;
}
  
.cur{
    color: white;
}
  
.fwarn{
    color: hotpink;
    font-size: monospace;
}

.pointer{
    cursor: pointer;
}

.hidden{
      display: none !important;
}


.success__main, .notify__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success__cont{
    position: fixed;
    top: 40vh;
    background-color: rgba(0, 128, 0, 0.452);
    padding: 5vh;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: small;
    z-index: 4;
}

.error__cont{
    position: fixed;
    top: 40vh;
    background-color: rgba(220, 20, 60, 0.527);
    padding: 5vh;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: small;
    z-index: 4;
}

.notify__cont{
    position: fixed;
    top: 5vh;
    background-color: rgba(27, 27, 27, 0.726);
    color:gold;
    font-weight: 800;
    font-variant: small-caps;
    font-size: medium;
    padding: 5vh;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    z-index: 1;
  }

.confirm__pg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
    font-size: larger;
    padding-bottom: 50vh;
}

.confirm__pg h1{
    color: hotpink;
}

.confirm__pg a{
    text-decoration: none;
    padding: 1%;
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid hotpink;
    padding: 2%;
}

.confirm__pg a:hover{
    color: hotpink;
    background-color: white;
}

.itemform__head{
    font-family: monospace;
    display: flex;
    justify-content: space-around;
}

.itemform__head a{
    font-family: monospace;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.itemform__head a:hover{
    color: tomato;
}

#addItem, .upItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

#addItem,#addCatItem, #upRestro, #upCompany, #upOrganization, .coversec, .termsandpolicies{
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.411);
    margin: 2%;
    padding: 2%;
}

.smalltxt{
    font-size: 8px !important;
}

.form__bod{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1vh;
}

.form__bod label{
    margin: .5vh;
    font-family: monospace;
}

input, textarea{
    scrollbar-width: none;
}

.form__bod input, .form__bod textarea{
    background-color: rgba(0, 0, 0, 0.247);
    border: 1px solid rgba(0, 0, 0, 0.247);
    color: white;
    padding: 2%;
}

.form__bod textarea{
    resize: none;
}

.blackbtn{
    background-color: rgba(0, 0, 0, 0.247);
    border: 2px solid rgba(128, 128, 128, 0.514);
    color: white;
    padding: 1%;
    margin: 1%;
    cursor: pointer;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.blackbtn:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.363);
}

.limebtn{
    background-color: transparent;
    color: rgb(54, 219, 54);
    border: 1px solid rgb(54, 219, 54);
    padding: 2%;
    text-decoration: none;
    font-weight: bolder;
    font-variant: small-caps;
    letter-spacing: px;
    cursor: pointer;
}

.limebtn:hover{
    background-color: rgb(54, 219, 54);
    color: rgb(0, 26, 0);
}

.ygbtn{
    background-color: transparent;
    border: 2px solid yellowgreen;
    border-radius: 1rem;
    color: yellowgreen;
    padding: 5%;
    margin: 2%;
    cursor: pointer;
    text-decoration: none;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.ygbtn:hover{
    background-color: yellowgreen;
    color: rgb(46, 46, 46);
}

.redbtn{
    background-color: rgb(116, 9, 30);
    border: 2px solid rgb(104, 8, 27);
    border-radius: 1rem;
    color: white;
    padding: 5%;
    margin: 2%;
    cursor: pointer;
    text-decoration: none;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.redbtn:hover{
    background-color: transparent;
    color: rgb(104, 8, 27);
}

.smallbtn{
    padding: 1%;
    margin: 1%;
    letter-spacing: 2px;
    font-variant: small-caps;
}

.group__btn{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=file]{
    border: none !important;
    cursor: pointer;
    background-color: transparent;
}

input::file-selector-button, ::-webkit-file-upload-button{

    background-image: url("/images/upload.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    height: 5vh;
    width: fit-content;
    border: none;
    color: transparent;
}

.checkbox{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#upitemtheme{
    background-color: rgba(0, 0, 0, 0.247);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding: 2%;
}

.sec__items{
    display: flex;
    width: 90% !important;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.share__menu, .share__catalouge{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 2%;
    border-radius: 2rem;
    font-size: 10px;
}

.menu__link__displayer, .catalouge__link__displayer{
    background-color: gray;
    margin: 2% 2% 0% 2%;
    padding: 1%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    font-variant: normal;
}

.addvportiitem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
}

.addvportifood, .addbakeryfood, .addCafefood{
    text-align: center;
    font-size: 12px;
    border: 1px solid orangered;
    background-color: orangered;
    font-weight: bolder;
    border-radius: 2rem;
    padding: 1%;
    width: fit-content;
    cursor: pointer;
    margin: 1%;
}

.vportiitemsec{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.863);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vportihead{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.allvportiitemsec{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.vportibod{
    display: inline-block;
    overflow-y: auto;
    width: 25%;
    scrollbar-width: none;
}

.additembtn{
    background-color: #000;
    color:white;
    padding: 2%;
    border: 1px solid black;
    cursor: pointer;
    width: fit-content;
}

.your__item__sec{
    background-color:  rgba(0, 0, 0, 0.637);
    padding: 2%;
    border-radius: 2rem;
}

.menu__card__det a, .catalouge__card__det a{
    font-size: 10px;
}

.catalouge__card__det{
    font-size: 16px;
}

.grp__btn{
    display: flex;
    justify-content: space-between;
}

.createBanner{
    background-color:  rgba(0, 0, 0, 0.411);
    padding: 2%;
    border-radius: 2rem;
}

.banner__sec {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr__displayer{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.qr__img{
    height: 50vh;
}

.hide{
    visibility: hidden;
}

.to__left{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.wite{
    color:White;
}

.goldn{
    color: goldenrod;
}

.delete__sec{
    background-color: rgba(220, 20, 60, 0.877);
    margin: 2%;
    padding: 2%;
}

.footer{
    width: 85%;
    margin-top: 2vh;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2em;
    font-variant: small-caps;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    color:gray;
    font-size: 1.2em;
}

.footer a{
    color: rgba(245, 245, 245, 0.651);
    text-decoration: none;
  }
  
  .rmcaps{
    font-variant: normal;
  }

  .footer a:hover{
    color: greenyellow;
  }
  
  .footer__bod{
    width: 95%;
  }
  
  .footer__top{
    display: flex;
    width: 100%;
  }
  
  .footer__row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }
  
  .footer__first__bod{
    display: flex;
    flex-direction: column;
  }
  
  .footer__contact__detail{
    width: 50%;
    text-align: left;
  }
  
  .footer__contact__bod{
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 50%;
  }

.footer__sec__bod{
    display: flex;
    justify-content: space-around;
}

.msgdiv{
    display: flex;
}

.newmsgnotifier, .newbookingnoti, .newmenunoti, .newcatalognoti{
    border-radius: 8rem;
    width: .8rem;
    height: .8rem;
    background-color: orangered;
}

.termsandpolicies{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.termservice, .privacypolicies{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.terms__sec, .policies__sec{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
}

.termservice__head, .privacypolicies__head{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.termservice__bod, .privacypolicies__bod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.terms__sec__bod, .policies__sec__bod{
    overflow-y: auto;
    scrollbar-width: none;
}

.termspoliciespre{
    margin: 2%;
    text-align: left;
}

.big__input{
    height: 80vh;
    width: 80%;
    resize: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 16px !important;
    padding: 0;
}

.dismantled{
    background-color: rgba(0, 0, 0, 0.616);
    color: red;
}

.tweaks__bod{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.tweaks__sub__bod{
    width: 84%;
}

.txtcnt{
    text-align: center;
}

.our__privacy__sec{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.our__privacy__main{
    width: 50%;
    height: 80vh;
    background-color: white;
    overflow-y: auto;
    color: black;
    border-radius: 2rem;
    scrollbar-width: none;
    letter-spacing: normal;
    font-size: 16px;

  }
  
.our__privacy__head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.our__privacy__bod{
    padding: 2%;
}

.privanch{
    color: black !important;
}

#priCancel{
    width: 5rem;
    height: 5rem;
}

.watermark{
    width: 100vw;
    height: 5vh;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.185);
    position: fixed;
    top: 50vh;
    z-index: 2;
    text-align: center;
    font-size: 16px;
    font-variant: small-caps;
}
 
.close__confirm{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(220, 20, 60, 0.76);
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
  
.close__btn__grp{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
  
.confirmclose, .cancelclose{
    border: 1px solid white;
    color : rgba(220, 20, 60, 0.76);
    font-size: 16px;
    font-weight: bolder;
    padding: 1%;
    background-color: white;
    cursor: pointer;
}
  
.confirmclose:hover, .cancelclose:hover{
    background-color: transparent;
    color: white;
}

.selectsec{
    background-color: rgba(0, 0, 0, 0.247);
    border-color: rgba(0, 0, 0, 0.247);
    color:white;
    cursor: pointer;
    border-radius: 1rem;
}

.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bigb{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 2rem;
    padding: 1%;
    margin: 1%;
    cursor: pointer;
    animation: shine 4s ease-in-out forwards infinite;
}

@media (min-width: 601px) and (max-width: 900px){
    .navigation a{
        font-size: 1.5vw;
      }

    .port_sec_head span{
        font-size: 1.5vw;
        font-weight: 900;
    }

    .logout{
        font-size: 1.5vw;
    }

    .nocapsmall{
        font-size: 1.5vw !important;
        font-variant: normal;
    }

    .profPic{
        width: 6rem;
        height: 6rem;
        border-radius: 8rem;
    }

    .porti__off__img{
        width: 25px;
    }

    .new__menu__reserve{
        left: 20vw;
    }

    .new__menu__msg{
        top: 3vh;
        right: 3vw;
    }
    .form__bod{
        width: 50%;
    }

    .smallbtn{
        padding: 2%;
    }
    .menu__link__displayer, .catalouge__link__displayer{
        margin: 2%;
        padding: 2%;
        font-size: 1.5em;
    }
    .footer__contact__detail{
        width: 100%;
        font-size: .8em;
      }
    .footer__contact__bod{
        padding-left: 25%;
    }

    .bigb{
        padding: 2%;
    }

    .addvportifood, .addbakeryfood, .addCafefood{
        padding: 2%;
        margin: 2%;
    }
}

@media screen and (max-width: 600px){
    input, select, textarea{
        font-size: 16px !important;
    }

    .our__privacy__main{
        width: 90vw;
      }

    .menu__reserve__btn{
        left: 1vw;
    }

    .menu__messages__btn, .menu__reserve__btn{
        top: 20vh;
    }

    .new__menu__reserve{
        left: 6vw;
        top: 21vh;
    }

    .checkbox{
        height: 10vh;
        width: 10vw;
    }
    .new__menu__msg{
        top: 21vh;
        right: 4vw;
    }
    .menu__message__mid__sec, .menu__reveived__msg, .menu__reserve__mid__sec, .menu__reveived__reserve{
        width: 90%;
        height: 90%;
    }

    .cancel__reserve__sec{
        z-index: 2;
    }

    .menu__bar{
        position: sticky;
        top: 0;
    }
    .main__navigation{
        position: relative;
        justify-content: center;
    }

    .navigation{
        width: 90%;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        height: auto;
    }

    .whole__menu__sec{
        align-items: center;
        overflow-x: hidden;
    }

    .bigb{
        padding: 3%;
        margin: 3%;
    }

    .addvportifood, .addbakeryfood, .addCafefood{
        padding: 2%;
        margin: 2%;
    }

    .menu__section{
        width: 100%;
    }
    .smallbtn{
        padding: 2%;
    }
    .form__bod{
        width: 80%;
    }

    .menu__link__displayer, .catalouge__link__displayer{
        font-size: 1em;
        margin: 2%;
        padding: 2%;
    }

    .footer{
        width: 100%;
      }
    
      .footer__top{
        flex-direction: column;
      }
      
      .footer__row{
        width: 100%;
      }
    
      .footer__contact__detail{
        width: 100%;
      }
      
      .footer__contact__bod{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
      }

      .contact__anch{
        width: 100%;
        text-align: center;
      }
    

    .footer__first__bod, .footer__sec__bod{
        flex-direction: column;
        text-align: center;
    }

    .termservice{
        width: 100%;
    }

    .tweaks__sub__bod{
        width: 100%;
    }
}
  
  
@keyframes rotateLeft {
    from {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: translate3d(0, 0, 1, -200deg);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
}
  
@keyframes rotateRight {
    from {
        opacity: 0;
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 200deg);
        transform: rotate3d(0, 0, 1, 360deg);
        opacity: 1;
    }
}

@keyframes blink {
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes shine {
    0%{
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.171);
    }
    10%{
        box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.171);
    }
    25%{
        box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.171);
    }
    50%{
        box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.171);
    }
    75%{
        box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.171);
    }
    90%{
        box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.171);
    }
    100% {
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.171);
    }
  }

  @keyframes blackShine {
    0%{
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.171);
    }
    10%{
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.171);
    }
    25%{
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.171);
    }
    50%{
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.171);
    }
    75%{
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.171);
    }
    90%{
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.171);
    }
    100% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.171);
    }
  }