html{
    font-size: 10px;
    scrollbar-width: thin;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

body{
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 2px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(27, 27, 27); 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: rgb(160, 159, 159); 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #a7a6a6; 
}

.port__nav{
    display: flex;
    flex-direction: column;
}
  
.port__nav__first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
}
  
.port__nav__sub{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
  
.port__nav__second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%;
    align-items: center;
}
  
.port__head{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: cursive;
    font-weight: 900;
}
  
.portDet{
    color: white;
    font-size:large;
}
  
.port__head:hover{
    color: rgb(253, 22, 68);
}
  
.port_sec_head{
    font-size: 1rem;
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
  
.port_sec_head span{
    color: rgb(245, 63, 100);
}
  

.profPic{
    width: 10rem;
    height: 10rem;
    border-radius: 8rem;
}
  
.satProf{
    filter: saturate(2);
}
  
.userDp{
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
}
  
.loader{
    background-color: rgba(0, 0, 0, 0.562);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    scroll-behavior: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.out__load{
    width: 14rem;
    height: 14rem;
    border-radius: 10rem;
    border-top: 1rem solid rgb(255, 255, 255);
    border-bottom: 1rem solid rgb(255, 32, 76);
    animation: rotateLeft 2s linear infinite;
    z-index: 1;
  }
  
.inn__load{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.inner__loader{
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    border-left: 10px solid rgb(255, 255, 255);
    border-right: 10px solid crimson;
    animation: rotateRight 2s linear infinite;
    z-index: 1;
}

.lodtl, .lodend{
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    color: white;
    animation: blink 1.5s infinite linear;
  }
  
  .lodmid{
    color: rgb(240, 64, 99);
    font-weight: bolder;
}

.smallest__cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
  
.name__tag{
    margin-top: 0;
    color: white;
    font-size: 8px;
    font-weight: 100;
    font-family: monospace;
}

.breadcrumbs{
    font-size: medium;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.247);
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: auto;
}
  
.breadcrumbs a{
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
}

.banner{
    background-color: rgba(240, 204, 88, 0.637);
    padding: 1.5%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 1.5rem;
}

.bdcb{
    color: gray;
}

.arr{
    margin: 1%;
}
  
.cur{
    color: white;
}
  
.fwarn{
    color: hotpink;
    font-size: monospace;
}

.pointer{
    cursor: pointer;
}

.hidden{
      display: none;
}


.success__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success__cont{
    position: fixed;
    top: 40vh;
    background-color: rgba(0, 128, 0, 0.452);
    padding: 5vh;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: small;
    z-index: 1;
}

.error__cont{
    position: fixed;
    top: 40vh;
    background-color: rgba(220, 20, 60, 0.527);
    padding: 5vh;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: small;
    z-index: 1;
}

.confirm__pg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
    font-size: larger;
    padding-bottom: 50vh;
}

.confirm__pg h1{
    color: hotpink;
}

.confirm__pg a{
    text-decoration: none;
    padding: 1%;
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid hotpink;
    padding: 2%;
}

.confirm__pg a:hover{
    color: hotpink;
    background-color: white;
}

.itemform__head{
    font-family: monospace;
    display: flex;
    justify-content: space-around;
}

.itemform__head a{
    font-family: monospace;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.itemform__head a:hover{
    color: tomato;
}

#addItem, .upItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__bod{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1vh;
}

.form__bod label{
    margin: .5vh;
    font-family: monospace;
}

.form__bod input, .form__bod textarea{
    background-color: rgba(0, 0, 0, 0.247);
    border: 1px solid rgba(0, 0, 0, 0.247);
    color: white;
    padding: 2%;
}

.form__bod textarea{
    resize: none;
}

.blackbtn{
    background-color: rgba(0, 0, 0, 0.247);
    border: 2px solid rgba(0, 0, 0, 0.247);
    color: white;
    padding: 1%;
    margin: 1%;
    cursor: pointer;
}

.blackbtn:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.363);
}

.ygbtn{
    background-color: transparent;
    border: 2px solid yellowgreen;
    border-radius: 1rem;
    color: yellowgreen;
    padding: 5%;
    margin: 2%;
    cursor: pointer;
    text-decoration: none;
}

.ygbtn:hover{
    background-color: yellowgreen;
    color: rgb(46, 46, 46);
}

.redbtn{
    background-color: crimson;
    border: 2px solid crimson;
    border-radius: 1rem;
    color: white;
    padding: 5%;
    margin: 2%;
    cursor: pointer;
    text-decoration: none;
}

.redbtn:hover{
    background-color: transparent;
    color: crimson;
}

.smallbtn{
    padding: 1%;
    margin: 1%;
}

.group__btn{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.file_part input{
    background-color: transparent;
    border: none;
    width: 30%;
}

input[type='file']{
    color: white;
    font-size:16px;
    font-family: monospace;
    cursor: pointer;
    background-image: url('/images/upload.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1%;
    padding-left: 35px;
}

input[type='file']:hover{
    filter: grayscale(1.5);
    color: gray;
}

input::file-selector-button{
    display: none;
}

#upitemtheme{
    background-color: rgba(0, 0, 0, 0.247);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding: 2%;
}

::-webkit-file-upload-button{
    display: none;
}

.sec__items{
    display: flex;
    width: 90% !important;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.share__menu, .share__catalouge{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.menu__link__displayer, .catalouge__link__displayer{
    border: 1px solid chocolate;
    background-color: chocolate;
    margin: 2% 2% 0% 2%;
    padding: 1%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.qr__displayer{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.qr__img{
    height: 50vh;
}

.hide{
    visibility: hidden;
}

@media (min-width: 601px) and (max-width: 900px){
    .form__bod{
        width: 50%;
    }
    .file_part input{
        width: 50%;
    }
    .smallbtn{
        padding: 2%;
    }
    .menu__link__displayer{
        margin: 2%;
        padding: 2%;
    }
}

@media screen and (max-width: 600px){
    .breadcrumbs{
        font-size: 12px;
    }
    .smallbtn{
        padding: 2%;
    }
    .form__bod{
        width: 80%;
    }
    .file_part input{
        width: 50%;
    }
    .menu__link__displayer, .catalouge__link__displayer{
        font-size: 5px;
        margin: 2%;
        padding: 2%;
    }
}
  
  
@keyframes rotateLeft {
    from {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: translate3d(0, 0, 1, -200deg);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
}
  
@keyframes rotateRight {
    from {
        opacity: 0;
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 200deg);
        transform: rotate3d(0, 0, 1, 360deg);
        opacity: 1;
    }
}

@keyframes blink {
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }