.restro__stat__sec{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.pageCount_sec{
    position: fixed;
    top: 2vh;
    right: 1vw;
    /* color: #000; */
    z-index: 2;
    background-color: rgba(255, 228, 196, 0.247);
    border-radius: 1rem;
    padding: 1%;
}

.opn{
    font-size: 10px;
}

.restro__stat__bod{
    width: 85%;
}

.stathead{
    margin-left: 2%;
}

#getyear{
    padding: 0;
}

.restro__thirtyday__graph, .restro__allorders__chart, .pie__per__deman{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.chart__back{
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 2rem;
    padding: 1%;
}

#myChart{
    width: 80vw !important;
    height: 80vh !important;
}

.restro__graph__grp{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4%;
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 2rem;
    padding: 1%;
    width: 80vw;
}

.grntag{
    width: 100%;
    padding: 1%;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.849);
    color: green;
}

.rdtag{
    color: crimson;
    background-color: rgba(0, 0, 0, 0.849);
    width: 100%;
    padding: 1%;
    border-radius: 2rem;
}

#myBar, .bar{
    width: 30vw !important;
    height: 30vh !important;
}

#myPie, #todays__pie, .pie, #resPie{
    width: 25vw !important;
    height: 25vw !important;
}

.txtcent{
    text-align: center;
}

.restro__stat__btns{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.statbtn{
    background-color: transparent;
    border: 2px solid teal;
    color: teal;
    padding: 1%;
    cursor: pointer;
    margin: 2%;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.statbtn:hover{
    background-color: teal;
    color: white;
}

.restro__stat__month{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.res__stat__inpt{
    display: flex;
    justify-content: space-around;
}

#getyear{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid teal;
    width: 50%;
    background-color: transparent;
    color: white;
}

#months{
    background-color: transparent;
    border: 1px solid teal;
    color: teal;
    cursor: pointer;
}

#getByMonth{
    margin: 2%;
}

.restro__order__list{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.order__card{
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    padding: 1%;
    margin: 1%;
    font-size: 10px;
    border-radius: 1rem;
}

.order__card__mid{
    display: flex;
    justify-content: space-around;
}

.gry{
    color: gray;
}

.cnt{
    text-align: center;
}

.paginate{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footsec{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.our__privacy__sec{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.our__privacy__main{
    width: 50%;
    height: 80vh;
    background-color: white;
    overflow-y: auto;
    color: black;
    border-radius: 2rem;
    scrollbar-width: none;
    letter-spacing: normal;
  }
  
.our__privacy__head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.our__privacy__bod{
    padding: 2%;
}

.privanch{
    color: black;
}

#priCancel{
    width: 5rem;
    height: 5rem;
}

.fullimg__sec{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.fullimg__head{
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
}

.fullimgmode{
    width: 100%;
    height: fit-content;
}
  

@media (min-width: 601px) and (max-width: 900px){

    #myChart{
        width: 80vw !important;
        height: auto !important;
    }
    #myPie, #todays__pie, .pie, #resPie{
        width: 40vw !important;
        height: 40vw !important;
    }

    #myBar, .bar{
        width: 30vw !important;
        height: 15vh !important;
    }
    .statbtn{
        padding: 2%;
    }
}

@media screen and (max-width: 600px){
    input, textarea{
        font-size: 16px;
    }

    .our__privacy__main{
        width: 90vw;
      }

    .restro__stat__bod{
        width: 95%;
        overflow-x: hidden;
    }
    .restro__stat__bod{
        width: 100%;
    }
    #myChart{
        width: 90vw !important;
        height: auto !important;
    }

    .restro__graph__grp{
        flex-direction: column;
        width: 90vw;
    }

    #myPie, #todays__pie, .pie, #resPie{
        width: 60vw !important;
        height: 60vw !important;
        margin-bottom: 4%;
    }

    #myBar, .bar{
        width: 80vw !important;
        font-size: 16px !important;
    }

    .statbtn{
        padding: 2%;
    }

    .alltimetotalorder{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .rdtag, .grntag{
        border-radius: 2px !important ;
    }
}