html{
    margin: 0;
    padding: 0;
}
.first__menu__bod{
    color: goldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0;
    padding: 2%;
}

.white__bg{
    background-color: rgb(250, 250, 250);
}

.menu__head{
    text-align: center;
    font-size: 2.5rem;
    color: chocolate;
    margin-top: 0;
}

.menu__border{
    border: 2px solid goldenrod;
    padding: 1%;
}

.menu__secborder{
    border: 2px solid goldenrod;
    padding: 1%;
}

.res__add, .res__slogan{
    font-size: 16px;
    color: gray;
}

.search{
    display: flex;
    justify-content: center;
}

.searchbar{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid chocolate;
    padding: 1%;
    margin-bottom: 2%;
    width: 40vw;
    outline: 0;
    background-color: transparent;
    color: chocolate;
    transition: transform .2s;
}

.searchbar:focus{
    transform: scale(1.2);
}

.darkmode{
    position: absolute;
    right: 75px;
    top: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu__bod{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.category{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* height: 30vh;
    overflow-y: auto;
    scrollbar-width: thin; */
}

.menu__items, .grab__all{
    cursor: pointer;
    transition: transform .2s;
    margin: 8px;
    border-radius: 2rem;
    padding: 1%;
    background-color: chocolate;
    color: white;
    height: 15px;
    text-align: center;
}

.menu__items:hover, .grab__all:hover{
    background-color: rgba(210, 105, 30, 0.596);
    transform: scale(1.3);
}

.sub__item__bod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub__items{
    display: flex;    
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.row__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu__card{
    display: flex;
    align-items: center;
    width: 22vw;
    margin-top: 2%;
    cursor: pointer;
    font-size: 16px;
}

.menu__card__det{
    padding-left: 2%;
    width: 60%;
}

.menu__card__img{
    width: 40%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.281);
}

.menu__card__img:hover{
    box-shadow: none;
}

.menu__card__detail{
    font-size: 11px;
    padding-bottom: 1%;
}

.items__head{
    text-align: center;
    color: chocolate;
}

.paginate{
    display: flex;
    justify-content: center;
}

.next, .prev{
    background-color: transparent;
    border: 2px solid goldenrod;
    color: goldenrod;
    padding:2%;
    margin: 25px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.next:hover, .prev:hover{
    background-color: rgba(218, 165, 32, 0.486);
}

.go__back{
    color: chocolate;
}

.hidden{
    display: none;
}

@media (min-width: 601px) and (max-width: 900px){
    .menu__card{
        width: 40vw;
    }
    .darkmode{
        right: 55px;
        top: 40px;
    }
}

@media screen and (max-width: 600px){
    .darkmode{
        right: 35px;
        top: 40px;
    }
    .menu__items, .grab__all{
        padding: 2%;

    }
    .sub__items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu__card{
        width: 80vw;
    }
}