extends baseEmail

block content
  h1 Hi #{firstName},
  h2 Welcome to Porti, we're glad to have you on board 🎉
  p Porti Helps you create Virtual Portfolio, Invitation, Food Menu, Product Catalog, Use the Free feature to build yourself an amazing portfolio, invitations, menu, cataloge etc!
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Explore Porti
  p Start Exploring Porti!
  p - 
    img(src="/images/smalport.png", alt="icon")
    span Porti