extends baseEmail

block content
  p Hi #{firstName},
  p Welcome to Porti, we're glad to have you on board 🎉
  p Porti is here to bring your application to reality, Use the Free feature to build yourself an amazing portfolio, invitations, menu, cataloge etc!
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Explore Porti
  p If you want to build a custom website feel free to message Porti!
  p - Porti