.footer
    .footer__bod
        .footer__top
            .footer__row
                .footer__first__bod 
                    a(href="/#guidePorti")
                        p Porti Guide
                    a(href="/#portiHelper")
                        p Portfolio Helper 
                    a(href="/#portiinviHelper")
                        p Invitation Helper
                    a(href="/#portimenuHelper")
                        p Menu Helper
                    a(href="/#porticatalogeHelper")
                        p Cataloge Helper
                .footer__first__bod
                    a(href="/#abtPorti")
                        p About Porti
                    a(href="/#contactTM") 
                        p Message Lakhey De Tech
                    a(href="/#aboutTM")
                        p About Lakhey De Tech
                    a(href="/privacy")
                        p privacy policy
            .footer__contact__detail
                .footer__contact__bod
                    p.wite Contact: 
                        span.grn +977 9813719909
                    p.grn Email: 
                        span.wite lakheydetech@gmail.com
        .footer__sec__bod
            p Copyright &#169; 2022