.footer
    .footer__bod
        .footer__top
            .footer__row
                if (!user)
                    p.hidden.ueserTheme
                else
                    p.hidden.ueserTheme= user.theme
                .footer__first__bod 
                    a.footer__anch(href="/vporti/courses/portfolio")
                        p Portfolio Guide 
                    a.footer__anch(href="/vporti/courses/invitation")
                        p Invitation Guide
                    a.footer__anch(href="/vporti/courses/food-menu")
                        p Menu Guide
                    a.footer__anch(href="/vporti/courses/catalog")
                        p Cataloge Guide
                .footer__first__bod
                    a.footer__anch(href="/vporti/courses/brochure")
                        p Brochure Guide
                    a.footer__anch(href="/vporti/aboutus")
                        p About vPorti
                    a.footer__anch.loadPrivacy
                        p.pointer Privacy Policy
                    a.footer__anch#termsandcond
                        p Terms and Conditions
            .footer__contact__detail
                .footer__contact__bod
                    p.footer__anch Contact 
                        span.grn 
                    a.footer__anch.contact__anch(href="mailto:lakheydetech@gmail.com") 
                        p Email : 
                            span.footer__anch.rmcaps lakheydetech@gmail.com
                    a.footer__anch.contact__anch(href="/vporti/getintouch") 
                        p.footer__anch Message 
                            span Lakhey De Tech
        .getintouch__logo 
            h3.footer__icon 
                i.fa-brands.fa-google
            h3.footer__icon 
                i.fa-brands.fa-x-twitter 
            h3.footer__icon
                i.fa-brands.fa-facebook 
            h3.footer__icon
                i.fa-brands.fa-instagram
        .footer__sec__bod
            p Copyright &#169; 2024
        
        .our__privacy__sec.hidden 
            .our__privacy__main
                .our__privacy__head 
                    h1 Our Policies
                    img#priCancel.pointer.crossbtn(src="/images/cancel.png" alt="cancel_img") 
                .our__privacy__bod
                    h1(class="txtcnt") Privacy Policy
                    p 
                        strong Effective Date: 23-02-2023
                    h3 Your privacy is important to us
                    p It is Vporti's policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to 
                        a(href="https://www.vporti.com") www.vporti.com
                        span (hereinafter, "us", "we", or "www.vporti.com"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.
                    p This Privacy Policy, together with the Terms of service posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms of service.
                    h2(id="tableofcontents") Contents
                    p Click below to jump to any section of this privacy policy
                    ol(type="1")
                        li
                            a(href="#PII").privanch
                                strong Personally-Identifying Information
                        li
                            a(href="#Security").privanch
                                strong Security
                        li
                            a(href="#PIIProtection").privanch
                                strong Protection of Certain Personally-Identifying Information
                        li
                            a(href="#Affiliates").privanch
                                strong Affiliate Disclosure
                        li
                            a(href="#Cookies").privanch
                                strong Cookies
                        li
                            a(href="#Changes").privanch
                                strong Privacy Policy Changes
                        li
                            a(href="#Custom").privanch
                                strong Other Policies
                        li 
                            a(href="#Credit").privanch
                                strong Contact Information &amp; Credit
                    <h2 id="PII">1. Personally-Identifying Information</h2><p>Certain visitors to Vporti's websites choose to interact with Vporti in ways that require Vporti to gather personally-identifying information. The amount and type of information that Vporti gathers depends on the nature of the interaction. For example, we ask visitors who leave a comment at https://www.vporti.com to provide a username and email address.</p>

                    <p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="Security">2. Security</h2><p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

                    <p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="PIIProtection">3. Protection of Certain Personally-Identifying Information</h2><p>Vporti discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Vporti's behalf or to provide services available at Vporti's website, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Vporti's website, you consent to the transfer of such information to them. Vporti will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Vporti discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when Vporti believes in good faith that disclosure is reasonably necessary to protect the property or rights of Vporti, third parties or the public at large.</p>
                    <p>If you are a registered user of https://www.vporti.com and have supplied your email address, Vporti may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with Vporti and our products. We primarily use our blog to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Vporti takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p>

                    <p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="Affiliates">4. Affiliate Disclosure</h2><p>This site uses affiliate links and does earn a commission from certain links. This does not affect your purchases or the price you may pay.</p>

                    <p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="Cookies">5. Cookies</h2><p>To enrich and perfect your online experience, Vporti uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.</p>
                    <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Vporti uses cookies to help Vporti identify and track visitors, their usage of https://www.vporti.com, and their website access preferences. Vporti visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Vporti's websites, with the drawback that certain features of Vporti's websites may not function properly without the aid of cookies.</p>
                    <p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to Vporti's use of cookies.</p>

                    <p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="Changes">6. Privacy Policy Changes</h2><p>Although most changes are likely to be minor, Vporti may change its Privacy Policy from time to time, and in Vporti's sole discretion. Vporti encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

                    <p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="Custom">7. Other Policies</h2>
                    <h3>Future Updates</h3>
                    <p>In the future updates the policies might change accordingly to application structure.</p>



                    <p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="Credit">8. Contact Information &amp; Credit</h2><p>This privacy policy was created at <a class="privanch" href="https://privacyterms.io/privacy-policy-generator/" title="Privacy policy generator" target="_blank">privacyterms.io privacy policy generator</a>. If you have any questions about our Privacy Policy, please contact us via <a class="privanch bc" href="mailto:lakheydetech@gmail.com">email</a> or <a class="privanch" href="tel:">phone</a>.</p>

                    <p><a class="privanch" href="#tableofcontents">Back to table of contents</a></p>   

        .termsandconditions.hidden 
            .term__main
                .terms__head
                    h1 Terms and Conditions
                    img#termCancel.pointer(src="/images/cancel.png" alt="cancel_img") 
                .terms__bod
                    h2 Welcome to Vporti
                    p These terms of service outline the rules and regulations for the use of Vporti's Website.
                    p By accessing this website we assume you accept these terms of service in full. Do not continue to use 
                        span Vporti's website if you do not accept all of the terms of service stated on this page.
                    p The following terminology applies to these Terms of Service, Privacy Statement and Disclaimer Notice and 
                        span any or all Agreements: "Client", "You" and "Your" refers to you, the person accessing this website
                        span and accepting the Company's terms of service. "The Company", "Ourselves", "We", "Our" and "Us", refers
                        span to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves, or either the Client
                        span or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake
                        span the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
                        span of a fixed duration, or any other means, for the express purpose of meeting the Client's needs in respect
                        span of provision of the Company's stated services/products, in accordance with and subject to, prevailing law
                        span of . Any use of the above terminology or other words in the singular, plural,
                        span capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.
                    h2 Cookies 
                    p We employ the use of cookies. By using Vporti's website you consent to the use of cookies
                        span in accordance with Vporti's privacy policy.
                    p Most of the modern day interactive web sites
                        span use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
                        span to enable the functionality of this area and ease of use for those people visiting. Some of our
                        span affiliate / advertising partners may also use cookies.


                    h2 License
                    p Unless otherwise stated, Vporti and/or it's licensors own the intellectual property rights for
                        span all material on Vporti. All intellectual property rights are reserved. You may view and/or print
                        span pages from www.vporti.com for your own personal use subject to restrictions set in these terms of service.
                    p You must not:
                    ol
                        li Republish material from www.vporti.com
                        li Sell, rent or sub-license material from www.vporti.com
                        li Reproduce, duplicate or copy material from www.vporti.com
                    p Redistribute content from Vporti (unless content is specifically made for redistribution).


                    h2 User Comments
                    ol
                        li This Agreement shall begin on the date hereof.
                        li Certain parts of this website offer the opportunity for users to post and exchange opinions, information,
                            span material and data ('Comments') in areas of the website. Vporti does not screen, edit, publish
                            span or review Comments prior to their appearance on the website and Comments do not reflect the views or
                            span opinions of Vporti, its agents or affiliates. Comments reflect the view and opinion of the
                            span person who posts such view or opinion. To the extent permitted by applicable laws Vporti shall
                            span not be responsible or liable for the Comments or for any loss cost, liability, damages or expenses caused
                            span and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this
                            span website.
                        li Vporti reserves the right to monitor all Comments and to remove any Comments which it considers
                            span in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms of Service.
                        li You warrant and represent that:
                            ol
                                li You are entitled to post the Comments on our website and have all necessary licenses and consents to
                                    span do so;
                                li The Comments do not infringe any intellectual property right, including without limitation copyright,
                                    span patent or trademark, or other proprietary right of any third party;
                                li The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material
                                    span or material which is an invasion of privacy
                                li The Comments will not be used to solicit or promote business or custom or present commercial activities
                                    span or unlawful activity.
                        li
                        li You hereby grant to 
                            strong Vporti 
                            span a non-exclusive royalty-free license to use, reproduce,
                            span edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats
                            span or media.
                    h2 Hyperlinking to our Content
                    ol
                        li The following organizations may link to our Web site without prior written approval:
                            ol
                                li Government agencies;
                                li Search engines;
                                li News organizations;
                                li Online directory distributors when they list us in the directory may link to our Web site in the same manner as they hyperlink to the Web sites of other listed businesses; and
                                li Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.
                    ol(start="2")
                        li These organizations may link to our home page, to publications or to other Web site information so long
                            span as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or
                            span approval of the linking party and its products or services; and (c) fits within the context of the linking
                            span party's site.
                        li We may consider and approve in our sole discretion other link requests from the following types of organizations:
                            ol
                                li commonly-known consumer and/or business information sources such as Chambers of Commerce, American
                                    span Automobile Association, AARP and Consumers Union;
                                li dot.com community sites;
                                li associations or other groups representing charities, including charity giving sites,
                                li online directory distributors;
                                li internet portals;
                                li accounting, law and consulting firms whose primary clients are businesses; and
                                li educational institutions and trade associations.
                    p We will approve link requests from these organizations if we determine that: (a) the link would not reflect
                        span unfavorably on us or our accredited businesses (for example, trade associations or other organizations
                        span representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed
                        span to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to us from
                        span the visibility associated with the hyperlink outweighs the absence of Vporti; and (d) where the
                        span link is in the context of general resource information or is otherwise consistent with editorial content
                        span in a newsletter or similar product furthering the mission of the organization.

                    p These organizations may link to our home page, to publications or to other Web site information so long as
                        span the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval
                        span of the linking party and it products or services; and (c) fits within the context of the linking party's
                        span site.

                    p If you are among the organizations listed in paragraph 2 above and are interested in linking to our website,
                        span you must notify us by sending an e-mail to 
                        a(href="mailto:lakheydetech@gmail.com" title="send an email to lakheydetech@gmail.com") lakheydetech@gmail.com.
                        span Please include your name, your organization name, contact information (such as a phone number and/or e-mail
                        span address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site,
                        span and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.

                    p Approved organizations may hyperlink to our Web site as follows:

                    ol
                        li By use of our corporate name; or
                        li By use of the uniform resource locator (Web address) being linked to; or
                        li By use of any other description of our Web site or material being linked to that makes sense within the
                            span context and format of content on the linking party's site.
                    p No use of Vporti's logo or other artwork will be allowed for linking absent a trademark license agreement.
                    h2 Iframes
                    p Without prior approval and express written permission, you may not create frames around our Web pages or
                        span use other techniques that alter in any way the visual presentation or appearance of our Web site.
                    h2 Content Liability
                    p We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify
                        span and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any
                        span page on your Web site or within any context containing content or materials that may be interpreted as
                        span libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or
                        span other violation of, any third party rights.
                    h2 Reservation of Rights
                    p We reserve the right at any time and in its sole discretion to request that you remove all links or any particular
                        span link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also
                        span reserve the right to amend these terms of service and its linking policy at any time. By continuing
                        span to link to our Web site, you agree to be bound to and abide by these linking terms of service.
                    h2 Removal of links from our website
                    p If you find any link on our Web site or any linked web site objectionable for any reason, you may contact
                        span us about this. We will consider requests to remove links but will have no obligation to do so or to respond
                        span directly to you.
                    p Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness
                        span or accuracy; nor do we commit to ensuring that the website remains available or that the material on the
                        span website is kept up to date.
                    h2 Disclaimer
                    p To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:
                    ol
                        li limit or exclude our or your liability for death or personal injury resulting from negligence;
                        li limit or exclude our or your liability for fraud or fraudulent misrepresentation;
                        li limit any of our or your liabilities in any way that is not permitted under applicable law; or
                        li exclude any of our or your liabilities that may not be excluded under applicable law.
                    p The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a)
                        span are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or
                        span in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort
                        span (including negligence) and for breach of statutory duty.
                    p To the extent that the website and the information and services on the website are provided free of charge,
                        span we will not be liable for any loss or damage of any nature.
                        span 
                            h2 Future Update
                            p Terms of use will be changed accordingly to update in application structure in future.
                            span Credit &amp; Contact Information
                    p This Terms of service page was created at 
                        span 
                            a(href="https://privacyterms.io/terms-conditions-generator/") privacyterms.io terms &amp; conditions generator. 
                        spanIf you have
                        span any queries regarding any of our terms, please contact us.         

script(src="/js/footer.js") 