.footer
    .footer__bod
        .footer__top
            .footer__row
                if (!user)
                    p.hidden.ueserTheme
                else
                    p.hidden.ueserTheme= user.theme
                .footer__first__bod 
                    a.footer__anch(href="/#pGuide")
                        p vPorti Guide
                    a.footer__anch(href="/#pHelper")
                        p Portfolio Helper 
                    a.footer__anch(href="/#iHelper")
                        p Invitation Helper
                    a.footer__anch(href="/#mHelper")
                        p Menu Helper
                    a.footer__anch(href="/#cHelper")
                        p Cataloge Helper
                .footer__first__bod
                    a.footer__anch(href="/#bHelper")
                        p Brochure Helper
                    a.footer__anch(href="/#apS")
                        p About vPorti
                    a.footer__anch(href="/#aTM")
                        p About Lakhey De Tech
                    a.footer__anch(href="/#privacy")
                        p Privacy Policy
                    a.footer__anch(href='/')
                        p Career
            .footer__contact__detail
                .footer__contact__bod
                    p.wite.footer__anch Contact 
                        span.grn 
                    p.grn Email : 
                        span.wite.footer__anch.rmcaps lakheydetech@gmail.com
                    a.footer__anch(href="/#cTM") 
                        p.wite Message 
                            span.grn Lakhey De Tech
        .footer__sec__bod
            p Copyright &#169; 2023

script(src="/js/footer.js") 