.head__main
    a#createporti(href="/porti")
        img(src="/images/plus.png", alt="add__img")
    a.port_sec_head(href="/")
        h1 Tech 
            span Mafia
    #logout.logout
        img(src="/images/poweroff.png", alt="signout")

    img.loader.hidden(src="/images/loading.gif", alt="loader")

script(src="/js/alert.js") 
script(src="/js/logout.js") 