.head__main
    a#createporti.crpt.smallest__cont(href="/porti" title="layouts")
        img(src="/images/portal.png", alt="add__img")
        p.name__tag Layouts
    a.port_sec_head.hm(href="/" title="home")
        img.porti__off__img(src="/images/smalport.png", alt="porti__img")
        span Por
        span.grn t
        span.nocaps i
    #logout.logout.smallest__cont
        img(src="/images/poweroff.png", alt="signout" title="Signout")
        p.name__tag Signout
.loader.hidden
    .out__load
        .inn__load
            .inner__loader
    p.lodtl Lakhey
            span.lodmid Tech
                span.lodend ...

script(src="/js/alert.js")  
script(src="/js/logout.js") 