.head__main
    a#createporti.crpt.smallest__cont(href="/porti" title="porti")
        img(src="/images/smalport.png", alt="add__img")
        p.name__tag Porti
    a.port_sec_head.hm(href="/" title="home")
        h1 Tech 
            span Mafia
    #logout.logout.smallest__cont
        img(src="/images/poweroff.png", alt="signout" title="Signout")
        p.name__tag Signout
.loader.hidden
    .out__load
        .inn__load
            .inner__loader
    p.lodtl Tech 
            span.lodmid Mafia
                span.lodend ...

script(src="/js/alert.js")  
script(src="/js/logout.js") 