.head__main
    a#createporti(href="/porti")
        img(src="/images/plus.png", alt="add__img")
    #logout.logout
        img(src="/images/poweroff.png", alt="signout")

    img.loader.hidden(src="/images/loading.gif", alt="loader")

script(src="/js/alert.js") 
script(src="/js/logout.js") 