.head__main
    a#createporti.crpt(href="/porti" title="porti")
        img(src="/images/plus.png", alt="add__img")
    a.port_sec_head.hm(href="/" title="home")
        h1 Tech 
            span Mafia
    #logout.logout
        img(src="/images/poweroff.png", alt="signout" title="logout")

.loader.hidden
    .out__load
        .inn__load
            .inner__loader
    p.lodtl Tech 
            span.lodmid Mafia
                span.lodend ...

script(src="/js/alert.js")  
script(src="/js/logout.js") 