.login__form
    h1.loader
        .bink
            img.porti__of__img(src="/images/vlogo.png", alt="porti__img")
            
    .login__head 
        a.port_sec_head.hm(href="/" title="home")
            img.porti__of__img(src="/images/vlogo.png", alt="porti__img")
            
        if (!user)
            a.bold.nodeco.wite.nocaps.hoveffect(href="/layouts/highlights" title="layouts") &#10022;Layouts
        else
            a.bold.nodeco.wite.nocaps(href="/layouts/porti" title="porti") &#10022;Layouts
    form#loginForm(name="logForm")
        h2 Log into your account 
        .login__form__bod
            .form__sub
                label.form__label(for='email') Email Address
                input#email_add.form__input.frm__id(type='email', name="log_email_add", placeholder='you@example.com', required)
            .form__sub
                label.form__label(for='password') Password 
                input#password.form__input.frm__pwd(type='password', name="log_password", placeholder='********', required, minlength='9')
            button.btn__login.redbtn Login
    
    include auth/_forgotPwd

    include auth/_signup

    include _footer

script(src="/js/alert.js") 
script(src="/js/login.js") 
script(src="/js/disFt.js")         