.login__form 
    .loader
        .inn__load
            .inner__loader
    .login__head 
        a.port_sec_head.hm(href="/")
            h1 Tech 
                span Mafia
            p.hmtg.hidden home
        a.crpt(href="/porti")
            img(src="/images/plus.png", alt="view_port")
            p.cp.hidden porti
    form#loginForm(name="logForm")
        h2 Log into your account 
        .login__form__bod
            .log__form__id
                label.form__label(for='email') Email Address
                input#email_add.form__input.frm__id(type='email', name="log_email_add", placeholder='you@example.com', required)
            .log__form__pwd
                label.form__label(for='password') Password 
                input#password.form__input.frm__pwd(type='password', name="log_password", placeholder='********', required, minlength='8')
            button.btn__login.redbtn Login
    
    include auth/_forgotPwd

    include auth/_signup


script(src="/js/alert.js") 
script(src="/js/nametag.js") 
script(src="/js/login.js") 


        