.login__form
    .loader
        .out__load
            .inn__load
                .inner__loader
        p.lodtl Tech 
            span.lodmid Mafia
                span.lodend ...
    .login__head 
        a.port_sec_head.hm(href="/" title="home")
            h1 Tech 
                span Mafia
        a.crpt(href="/porti" title="porti")
            img(src="/images/plus.png", alt="view_port")
    form#loginForm(name="logForm")
        h2 Log into your account 
        .login__form__bod
            .form__sub
                label.form__label(for='email') Email Address
                input#email_add.form__input.frm__id(type='email', name="log_email_add", placeholder='you@example.com', required)
            .form__sub
                label.form__label(for='password') Password 
                input#password.form__input.frm__pwd(type='password', name="log_password", placeholder='********', required, minlength='8')
            button.btn__login.redbtn Login
    
    include auth/_forgotPwd

    include auth/_signup


script(src="/js/alert.js") 
script(src="/js/login.js") 


        