.landing__navbar 
    .landing__navbar__firsthalf 
        a.navbar__logo(href="/")
            img.porti__of__img(src="/images/vlogo.png", alt="porti__img")
            
        .nav__head__content
            .navbar__services.navhead Create
                i.fa-solid.fa-angle-down.arrowhead.servicearrow
            .service__nav__sec.mini__nav.hidden
                ul 
                    li Portfolio 
                        br
                        p Create Portfolio Webpage using Portfolio Builder Feature
                    li Invitation
                        br
                        p Create Invitation Webpage Card using Invitation Webpage Feature
                    li Catalog
                        br
                        p Create Catalog Webpage using Catalog Builder Feature, Showcase and sell your product digitally, Order product features for your customers
                    li Food Menu
                        br
                        p Create Food Menu Webpage using Menu Builder Feature, Scan and load your restaurant Menu digitally, order, reserve, rating features for your customers
                    li Brochure
                        br
                        p Create Brochure Webpage using Brochure Builder Feature, Sell your service digitally, booking options for your customers
                    
            .navbar__about.navhead About Us
                i.fa-solid.fa-angle-down.arrowhead.aboutarrow
            .about__nav__sec.mini__nav.hidden
                ul
                    li 
                        a.landinganc(href="/vporti/aboutus") About vPorti 
                            br
                            p Learn what's with vPorti
                    li 
                        a.landinganc(href="/vporti/guidelines") Guide 
                            br
                            p Learn more about how to use our features
            .navbar__reach.navhead Reach Out
                i.fa-solid.fa-angle-down.arrowhead.reacharrow
            .reach__nav__sec.mini__nav.hidden 
                ul 
                    li
                        a.landinganc(href="/vporti/getintouch") Message Us 
                            br
                            p Message Us directly
                
    .landing__navbar__sechalf
        .landing__ham 
            i.fa-solid.fa-bars
        .first__nav__head
            .ham__starter
                .navbar__logo
                    img.porti__of__img(src="/images/vlogo.png", alt="porti__img")
                .close__ham 
                    i.fa-solid.fa-circle-xmark
            .ham__services.navhead Create
                i.fa-solid.fa-angle-down.arrowhead.servicehamarrow
            .service__ham__sec.mini__nav.hidden
                ul 
                    li Portfolio 
                    li Invitation
                    li Catalog
                    li Food Menu
                    li Brochure
            .ham__about.navhead About Us
                i.fa-solid.fa-angle-down.arrowhead.abouthamarrow
            .about__ham__sec.mini__nav.hidden
                ul
                    li 
                        a.landinganc(href="/vporti/aboutus") About vPorti 
                    li 
                        a.landinganc(href="/vporti/guidelines") Guide 
            .ham__reach.navhead Reach Out
                i.fa-solid.fa-angle-down.arrowhead.reachhamarrow
            .reach__ham__sec.mini__nav.hidden 
                ul 
                    li 
                        a.landinganc(href="/vporti/getintouch") Message Us 
            .ham__starter 
                a.landinganc.navbar__login.navhead(href="/account/login") Login 
                a.navbar__start.navhead.landinganc(href="/account/login") Get Started
        .nav__head__content
            a.landinganc.navbar__login.navhead(href="/account/login") Login 
            a.navbar__start.navhead.landinganc(href="/account/login") Get Started