.course__sidebar 
    .course__head.hidden 
        p Content 
        i.fa-solid.fa-circle-xmark.closeCourseHam
    p Getting Started
    p Custom Theme 
    p Portfolio 
    p Invitation 
    p Food Menu 
    p Catalog 
    p Brochure 
    p Account Settings 
    p Update Webpage Detail