extends base

block content 
    h1.loader
        .bink
            img.porti__of__img(src="/images/vlogo.png", alt="porti__img")
    
    include _menubar
    .aboutus__page.white__cont
        img.aboutus__cov(src="/images/digital.jpg", alt="about_img")
        .aboutus__grow 
            .aboutus__box
            .aboutus__head
                h1 Digital 
                h1 Transformer
                p Take your business online with vporti
        .aboutus__awesome 
            .aboutus__img__cont
                img.awesome.abt__aw__img(src="/images/awesome.jpg")
            .aboutus__awesome__cont 
                h2 Building Awesome
                p Welcome to vporti, where we transform your digital dreams into reality.
                p At vporti, we believe that everyone deserves a stunning online presence. Whether you're an aspiring entrepreneur, a small business owner, or a creative individual, we're here to empower you with the tools and expertise to build your webpage effortlessly.
                p Driven by innovation and powered by creativity, our team of experts has meticulously crafted an intuitive webpage builder that puts the power in your hands. With our customization interface and customizable templates, you can bring your vision to life with ease, no coding required.
        .aboutus__awesome.aboutus__secawesome 
            .aboutus__awesome__cont 
                h2 Not Just A Platform 
                p But we're more than just a platform – we're your partners in success. From concept to launch and beyond, we're here to support you every step of the way. Our dedicated customer service team is always available to answer your questions, troubleshoot issues, and provide guidance whenever you need it.
                p At vporti, we believe in the transformative power of technology to connect, inspire, and empower. Whether you're building a personal portfolio, launching an online store, or promoting your business, we're committed to helping you shine in the digital sphere.
                p Welcome to the future of web design.
            .aboutus__img__cont
                img.partner.abt__aw__img(src="/images/partner.jpg")
            
    .landing__footer 
        include _footer

    script(src="/js/alert.js")
    script(src="/js/newMenu.js")