extends base

block content
    .loader
        .out__load
            .inn__load
                .inner__loader
        p.lodtl Tech 
            span.lodmid Mafia
                span.lodend ...
    if (user)
        include _header
        .breadcrumbs 
                p.bdcb(title="Your Account") You Are Here |
                a.bdcb(href="/") Home 
                p.bdcb.arr &#8680;  
                p.cur Your Account 
        .update__account__form 
            form#upAccImg
                if (user.photo)
                    img.profPic(src=`images/users/${user.photo}`, alt="prof__pic")
                else 
                    img.profPic.satProf(src="/images/bighitman.png", alt="prof__pic")
                label.form__label(for='upPic') Change DP
                input#upPic.form__input(type="file" accept="image/*" name="upPic", required)
                button#upProfPic.redbtn Update Picture 
            form#upInfo
                h2 Update Your Account Details 
                label.form__label(for='name') Name
                input#upname.form__input(type='text', placeholder=`${user.name}`, required)
                label.form__label(for='email') Email Address 
                input#upemail.form__input(type='email', placeholder=`${user.email}`, required)
                button.update__account.redbtn Update Info

        .update__account__password
            form#upPass
                h2 Update Your Password 
                label.form__label(for='password') Current Password 
                input#pwdCurrent.form__input(type='password', placeholder='********', required, minlength='8')
                label.form__label(for='password') New Password 
                p Note: Password Must be atleast 9 Characters long
                input#up_password.form__input(type='password', placeholder='********', required, minlength='8')
                label.form__label(for='password') Confirm Password
                input#up_passwordConfirm.form__input(type='password', placeholder='********', required, minlength='8')
                button.btn__pwd.redbtn Update

        h1#acHead= `Greetings, ${user.name}`

    else 
        h1 You are not Logged In, Please Log In 
        a.redbtn(href="/login") LogIn

    script(src="/js/alert.js") 
    script(src="/js/account.js") 