doctype html
html(lang="en-GB")
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(name="keywords" content="vporti, Create, Virtual, Portfolio, CV, Cover letter, Biodata, Invitation, Card, Menu, Catalogue, Catalog, Brochure")
      meta(name="description" content="Create your free vporti, virtual Portfolio, Menu, Catalog, Invitationm Brochure for free")

      meta(name="application-name" content="Porti")
      meta(name="msapplication-TileColor" content="#000000")
      meta(name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png")
      meta(name="msapplication-square70x70logo" content="/images/favicons/mstile-70x70.png")
      meta(name="msapplication-square150x150logo" content="/images/favicons/mstile-150x150.png")
      meta(name="msapplication-wide310x150logo" content="/images/favicons/mstile-310x150.png")
      meta(name="msapplication-square310x310logo" content="/images/favicons/mstile-310x310.png")
      link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png")
      link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png")
      link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png")
      link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png")
      link(rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png")
      link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png")
      link(rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png")
      link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png")
      link(rel="icon" type="image/png" href="/images/favicons/favicon-196x196.png" sizes="196x196")
      link(rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96")
      link(rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32")
      link(rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16")
      link(rel="icon" type="image/png" href="/images/favicons/favicon-128.png" sizes="128x128")

      link(rel="icon" href="/images/smalport.png" type="image/x-icon")
      link(rel='stylesheet' href='/css/style.css')
      link(rel='stylesheet' href='/css/homepage.css')
      
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')

      link(href='https://fonts.googleapis.com/css?family=Tourney' rel='stylesheet')
      link(href='https://fonts.googleapis.com/css?family=Cabin Sketch' rel='stylesheet')

      title vPorti | #{title}

  body()

    // CONTENT
    block content
      h1 This is a placeholder heading
      


