extends base

block content
    if (user)
        if (user.id == user._id)
            each invite in invites 
                h1= invite.fname
                a.redbtn(href=`/myinvi/${invite._id}`) Go To Invitation
        else 
            .confirm__pg
                h1 You Dont Belong Here, Use Your Phone Number
                a.redbtn(href="/porti") Go Back

    else
        .confirm__pg 
            h1 You are not logged In!
            a.redbtn(href="/login") LogIn