extends base

block content
    if (user)
        if (portfolio.user.id == user._id)
            .confirm__pg
                h1 Confirmation Complete 
                h2= `Welcome ${portfolio.name}`
                p#tm.hidden= portfolio.theme
                p#ph.hidden= portfolio.phn_no
                button#portConfirm.redbtn Lets Go 
        else 
            .confirm__pg
                h1 You Dont Belong Here, Use Your Phone Number
                a.redbtn(href="/porti") Go Back

    else
        .confirm__pg 
            h1 You are not logged In!
            a.redbtn(href="/login") LogIn

    script(src="/js/confirm.js")