extends base

block content 
    h1.loader
        .bink
            img.porti__of__img(src="/images/vlogo.png", alt="porti__img")
    
    include _menubar
    .course__page 

    script(src="/js/alert.js")
    script(src="/js/newMenu.js") 