extends base

block content 
    .head__main
        a#createporti.rmtxtdec.crpt(href="/porti" title="layouts")
            img(src="/images/portal.png", alt="porti__img")
            p.name__tag Layouts
        a.port_sec_head.hm(href="/" title="home")
            img.porti__off__img(src="/images/smalport.png", alt="porti__img")
            span Por
            span.grn t
            span.nocaps i

    .loader.hidden
        .out__load
            .inn__load
                .inner__loader
        p.lodtl Lakhey
                span.lodmid Tech
                    span.lodend ...
    .four0four
        h1#four0= `${status} ERROR`
        if (`${status}` == 401)
            h1 You Are Not Logged In!! Please Log In | Sign Up
            a(href="/login") Go Back
        else
            h1 Oops! something ain't right! 
            a(href="/") Go Back

    script(src="/js/alert.js")  
