extends base

block content 
    .head__main
        if (!user)
            a#createporti.rmtxtdec.crpt(href="/porti-highlights" title="layouts") Layouts
        else
            a#createporti.rmtxtdec.crpt(href="/porti" title="layouts") Layouts
        a.port_sec_head(href="/" title="home")
            img.porti__off__img(src="/images/smalport.png", alt="porti__img")
            h1 Por
            h1.grn t
            span.nocaps i

    h1.loader
        img.porti__off__img(src="/images/smalport.png", alt="porti__img")
        span Por
        span.grn t
        span.nocaps i
    .four0four
        h1#four0= `${status} ERROR`
        if (`${status}` == 401)
            h1 You Are Not Logged In!! Please Log In | Sign Up
            a(href="/login") Go Back
        else
            h1 Oops! something ain't right! 
            a(href="/") Go Back

    script(src="/js/alert.js")  
