extends base

block content 
    .head__main
        a#createporti.crpt(href="/porti" title="porti")
            img(src="/images/plus.png", alt="add__img")
        a.port_sec_head.hm(href="/" title="home")
            h1 Tech 
                span Mafia

    .loader.hidden
        .out__load
            .inn__load
                .inner__loader
        p.lodtl Tech 
                span.lodmid Mafia
                    span.lodend ...
    .four0four
        h1#four0= `${status} ERROR`
        if (`${status}` == 401)
            h1 You Are Not Logged In!! Please Log In | Sign Up
            a(href="/login") Go Back
        else
            h1 Oops! something ain't right! 
            a(href="/") Go Back

    script(src="/js/alert.js")  
