extends base

block content 
    h1.loader
        .bink
            img.porti__of__img(src="/images/vlogo.png", alt="porti__img")

    include _menubar
    .guideline__page.white__cont 
        h1.subheadlogo 
            img.subheadlogoimg(src="/images/sublogo.png") 
            span Feature Detail 
        .guideline__inner__sec 
            .guideline__inner__first
                .stick
                .invistick 
                    .round.firstround 
                    .round.secround
                    .round.thirdround
                    .round.fouthround 
                    .round.fifthround 
                .guideline__mid__sec
                    .port__guide__sec.guide__cont 
                        h2.port__guide__head Portfolio
                        p This is your personal webpage where you can showcase your prior works, describe about yourself.
                        p Aspiring artist? want to showcase your arts? go with art theme
                        p Will create you a professional looking portfolio for your interview 
                    .invi__guide__sec.guide__cont
                        h2.invi__guide__head Invitation
                        p A event is coming near and you want to invite your loved ones, Do it in style create invitation webcard.
                        p Marriage Event, House warming, Normal party, etc, we got it.
                    .menu__guide__sec.guide__cont
                        h2.menu__guide__head Food Menu
                        p Handing book like menu to your customer is kind a booring and sometimes can be a troublesome when customer floods in,
                            span with food menu option you can create a food menu, just paste your qr to your table
                    .catalog__guide__sec.guide__cont
                        h2.catalog__guide__head Catalog
                        p Want to sell online, just create your catalog webpage, design it yourway and start selling online. It's free.
                        p Your cusotmers can make orders, you as a owner can accept decline orders, look all the sell statictics. 
                    .bro__guide__sec.guide__cont
                        h2.bro__guide__head Brochure
                        p Want to sell your service online, just create your brochure webpage, go online and let your valueable customer make bookings through your webpage.
            .guideline__img__sec 
                img.guideline__img(src="/images/guidepic.png", alt="guide__picture")

                .learnmore__sec.guide__process 
                    a.learnmore__btn.start_mid_sec(href="#guide__all__card") 
                        p Guide Courses  
                        i.startarrow.fa-solid.fa-arrow-right
        .guideline__card__sec#guide__all__card 
            .guideline__card 
                img.halftri(src="/images/start.jpg", alt="start__img")
                .guideline__card__bod 
                h3 Getting Started 
                p.gray Learn how to get started with vporti 
                a.guideline__card__btn(href="/vporti/courses") 
                    p Start Course
                    i.startarrow.fa-solid.fa-arrow-right    
            .guideline__card 
                img.halftri(src="/images/start.jpg", alt="start__img")
                .guideline__card__bod 
                h3 Custom Theme 
                p.gray Learn how to design your theme 
                a.guideline__card__btn(href="/vporti/courses") 
                    p Start Course
                    i.startarrow.fa-solid.fa-arrow-right 
            .guideline__card 
                img.halftri(src="/images/start.jpg", alt="start__img")
                .guideline__card__bod 
                h3 Portfolio 
                p.gray Learn how to create portfolio 
                a.guideline__card__btn(href="/vporti/courses")
                    p Start Course
                    i.startarrow.fa-solid.fa-arrow-right 
            .guideline__card 
                img.circ(src="/images/start.jpg", alt="start__img")
                .guideline__card__bod 
                h3 Invitation 
                p.gray Learn how to create webcard 
                a.guideline__card__btn(href="/vporti/courses") 
                    p Start Course
                    i.startarrow.fa-solid.fa-arrow-right  
            .guideline__card 
                img.circ(src="/images/start.jpg", alt="start__img")
                .guideline__card__bod 
                h3 Food menu 
                p.gray Learn how to create menu
                a.guideline__card__btn(href="/vporti/courses")
                    p Start Course
                    i.startarrow.fa-solid.fa-arrow-right  
            .guideline__card 
                img.circ(src="/images/start.jpg", alt="start__img")
                .guideline__card__bod 
                h3 Catalog 
                p.gray Learn how to create catalog
                a.guideline__card__btn(href="/vporti/courses")
                    p Start Course
                    i.startarrow.fa-solid.fa-arrow-right 
            .guideline__card 
                img.ophalftri(src="/images/start.jpg", alt="start__img")
                .guideline__card__bod 
                h3 Brochure 
                p.gray Learn how to create brochure
                a.guideline__card__btn(href="/vporti/courses")
                    p Start Course
                    i.startarrow.fa-solid.fa-arrow-right 
            .guideline__card 
                img.ophalftri(src="/images/start.jpg", alt="start__img")
                .guideline__card__bod 
                h3 Account Setting 
                p.gray Learn how to tweak your Account 
                a.guideline__card__btn(href="/vporti/courses")
                    p Start Course
                    i.startarrow.fa-solid.fa-arrow-right 
            .guideline__card 
                img.ophalftri(src="/images/start.jpg", alt="start__img")
                .guideline__card__bod 
                h3 Update Webpage Detail
                p.gray Learn how to update details 
                a.guideline__card__btn(href="/vporti/courses")
                    p Start Course
                    i.startarrow.fa-solid.fa-arrow-right 
    .guideline__footer 
        .getintouch__logo 
            h3.footer__icon 
                i.fa-brands.fa-google
            h3.footer__icon 
                i.fa-brands.fa-x-twitter 
            h3.footer__icon
                i.fa-brands.fa-facebook 
            h3.footer__icon
                i.fa-brands.fa-instagram
        .footer__sec__bod
            p Copyright &#169; 2024

    script(src="/js/alert.js")
    script(src="/js/newMenu.js")
    script(src="/js/guide.js") 
