extends base

block content
    h1.loader
        img.porti__off__img(src="/images/smalport.png", alt="porti__img")
        span vPor
        span.grn t
        span.nocaps i
    .login__head
        a.port_sec_head.hm(href="/")
            h1 Welcome, To 
                img.porti__off__img(src="/images/smalport.png" alt="porti__img")
                span vPor
                span.grn t
                span.nocaps i
        a.login(href="/account/login") LogIn | SignUp&#10162;
    .highlight__bod__sec
        .port__highlights__bod
            h2.cr__bod__headr Create a portfolio | You are not Logged In!
            p You need to log in to create a portfolio
            p Pick any of the layouts below and build your portfolio in just minutes! Fill the Form and Your All Set
            p Need tips Creating Your Portfolio Go To 
                a.portDet(href="/#pHelper") Portfolio Helper
            .layout__main
                a(href="/account/login").un_layout.nodeco
                    img(src="/images/layout1.png", loading="lazy", alt="layout1")
                    p PL Layout
                a(href="/account/login").un_layout.nodeco
                    img(src="/images/layout2.png", loading="lazy", alt="layout2")
                    p BG Layout
                a(href="/account/login").un_layout.nodeco
                    img(src="/images/layout3.png", loading="lazy", alt="layout3")
                    p ST Layout
                a(href="/account/login").un_layout.nodeco 
                    img(src="/images/layout4.png", loading="lazy", alt="layout1")
                    p BS Layout
                a(href="/account/login").un_layout.nodeco
                    img(src="/images/layout5.png", loading="lazy", alt="layout5")
                    p AT Layout (you can upload upto 20 images)
                a(href="/account/login").un_layout.nodeco
                    img(src="/images/layout6.png", loading="lazy", alt="layout6")
                    p NI Layout (no image required)
        .invi__highlights__section 
            h2.cr__bod__headr Create Invitation | You are not Logged In
            p You need to log in to create a Invitation
            p Pick any of the layouts below and build your Invitation Card in just minutes! Fill the Form and Your All Set
            p Need tips Creating Your Invitations Go To 
                a.portDet(href="/#iHelper") Invitation Helper
            .layout__main
                a(href="/account/login").un_layout.nodeco
                    img(src="/images/invi1.png", loading="lazy", alt="invi1")
                    p MRG Layout (5 Images required)
                a(href="/account/login").un_layout.nodeco
                    img(src="/images/invi2.png", loading="lazy", alt="invi2")
                    p INI Layout (1 | No Images required)
                a(href="/account/login").un_layout.nodeco 
                    img(src="/images/invi3.png", loading="lazy" alt="invi3")
                    p PIN Layout
        .menu__highlights__section
            h2.cr__bod__headr Create Menu For Your Food Spot | You are not Logged In
            p You need to log in to create a Food Spot
            p Pick any of the layouts below and build a menu for your restro 
            p Need tips Creating Your Food Menu Go To 
                a.portDet(href="/#mHelper") Menu Helper
            .layout__main
                a(href="/account/login").un_layout.nodeco
                    img(src="/images/menu1.png", loading="lazy", alt="menu1")
                    p DC Layout
                a(href="/account/login").un_layout.nodeco
                    img(src="/images/menu2.png", loading="lazy", alt="menu2")
                    p ML Layout
        .catalouge__highlights__section
            h2.cr__bod__headr Create Catalouge For Your Business | You are not Logged In
            p You need to log in to create a Catalouge
            p Pick any of the layouts below and build a Catalouge 
            p Need tips Creating Your Catalouge Go To 
                a.portDet(href="/#cHelper") Catalouge Helper
            .layout__main 
                a(href="/account/login").un_layout.nodeco 
                    img(src="/images/catal1.png", loading="lazy", alt="catal1")
                    p CT Layout
                a(href="/account/login").un_layout.nodeco 
                    img(src="/images/catal2.png", loading="lazy", alt="catal2")
                    p CMP Layout
        .brochure__highlights__section
            h2.cr__bod__headr Create Brochure For Your Business Hotels Motels | You are not Logged In
            p You need to log in to create a Brochure
            p Pick any of the layouts below and build a Brochure
            p Need tips Creating Your Brochure Go To 
                a.portDet(href="/#bHelper") Brochure Helper
            .layout__main 
                a(href="/account/login").un_layout.nodeco 
                    img(src="/images/bro.png", loading="lazy", alt="bro1")
                    p BRs Layout
                a(href="/account/login").un_layout.nodeco 
                    img(src="/images/bro1.png", loading="lazy", alt="bro2")
                    p BR Layout
    .fot_sec
        include _footer
    script(src="/js/alert.js") 