extends base

block content 
    .main__content 
        h3.presents.hidden
            span.maf Lakhey 
                span.gry De 
                    span.mid Tech 
                        span.gry Presents 
            img.porti__off__img(src="/images/smalport.png", alt="porti__img")
            span.wite Por
            span.grn t
            span.nocaps.wite i
        .main__content__log
            if (!user)
                a#log.fkAncky.norot(href="/login" title="Login | SignUp") Login | SignUp
            else 
                a#log.fkAncky.norot(href="/me" title="Your Account") Your Account
        .main__content__nav
            a.fkAncky(href="#aboutTM") About 
                span.mid Lakhey 
                    span.lst De 
                        span.lst Tech
            if (!user)
                a.crPr(href="/porti-highlights") View Porti-Features
                #go__create.hidden
            else
                a.crPr(href="/porti")
                    p#go__create Let's Start Burning
            .fkAncky
                a.opst(href="#contactTM") Reach  
                    span.mid  Lakhey 
                        span.lst De 
                            span.lst Tech
        .main__content__learn
            .learn__content 
                a.greybtn(href="#abtPorti") Learn About Porti 
                a.greybtn(href="#guidePorti") Porti Guidence
    .bod 
        .view__tm 
            #abtPorti.padder
                h2 About 
                    span.mid Porti
                p Lakhey Tech Presents Porti. In Spanish "Por ti" means "For You". The website is practically for you. In this age of Technology, where things are easy acces via internet then sotring it locally or using it physically, Porti is here to help you with situations that can really be a drag.
                h3 Why Porti?
                p Is your Interview Coming near still have no CV? Do not know what you should include and how you should present yourself? Well! PORTI is here to save the day :). Create Your portfolio within few minutes. Just answer the questions given and your all set.
                p Is a big event coming and dont want to waste time energy and money on making invitation card. Well with porti you can create Invitation card. Create it share it to your guests.
                p Do you have to change price and details of your Menu every now and then. Then Go for Porti, Create your menu, easily update it any time.
                p Porti is here for Business owners who are selling products or services. If you have alot of items or services use our catalog feature.
                p Porti Brings you varities of Theme Select and Just Focus on your Content, Make yourself stand out. Create Here Access it AnyWhere!!!
                p With the help of Porti sharing is more easy, forget the hassle of saving storing and printing your CV, Invitation, Menu, Catalouge. Access them with your QR code or Link. Also showing your previous works gets easy, updating your details gets easy. 
                h3 Who Porti is For :
                ul  
                    li Applying For Work | Showcasing Your Work
                    li Hosting A Party | Organizing A Event
                    li Restaurant | Food | Drinks Cafe Owner
                    li Business Owner | Shop Owner
                    li For Anyone | Everyone who needs a Portfolio, Invitation Card, Food Menu, Catalogue
                h3 Will A Portolio From Porti Guarantee Your Ace In Interview?
                p Well That's all upto You, How you describe yourself, how you sell yourself creates a difference. 
                h3 Is Porti Free To Use?
                p Yes! Porti is Free And Will Always Have Free Features For It's Users. It May Contain Some Themes Which You Might Have To Pay For. But Feel free to signup and create your porti account as there are lots of free themes :)
            #guidePorti.padder 
                h2 Create Your First 
                    span.mid Portfolio 
                    span.lst ?
                .guide__box
                    .gbox 
                        .gbox__head 
                            h3 Step 1
                        .gbox__bod
                            p Create Your Account, Go to Login | SignUp to create Your Account 
                            p Password must be 9 Characters long
                    .gbox 
                        .gbox__head 
                            h3 Step 2
                        .gbox__bod
                            p You will be redirected to your account, Click on Plus Icon from nav bar 
                            p Browse Through the theme and select one
                    .gbox 
                        .gbox__head 
                            h3 Step 3
                        .gbox__bod
                            p After Selecting a theme, Fill up the form, Theme name also contains the detail on how many image you should upload 
                            p Hit Create And You are All Set!
                    .gbox 
                        .gbox__head 
                            h3 Step 4
                        .gbox__bod
                            p To view your portfolio Click on My Portfolio 
                            p To share your portfolio click copy link and share it
                h3.mid#portiHelper Portfolio 
                    span.lst Helper
                p Do not Know What To Write In Your Portfolio? Here are Few Tips
                p Just the tips cause only you can tell the world who you really are ;) 
                .guide__box
                    .gbox 
                        .gbox__head 
                            h3 About You
                        .gbox__bod
                            p Describe yourself detaily. About Who you are Porfessionally
                            p If the theme | form has no your strength weakness option include these in about me section.
                    .gbox 
                        .gbox__head 
                            h3 What You Do?
                        .gbox__bod
                            p Describe What you professionally Do.  
                            p Show you are fully aware of what you do and can handle the task if given in this position.
                    .gbox 
                        .gbox__head 
                            h3 Why You Do it?
                        .gbox__bod
                            p Describe Why you do what you professionally Do.  
                            p Tell Why you do it? May be you love doing it, may be you were born for it, may be you see lots of money in this line of profession be honest and tell your story.
                    .gbox 
                        .gbox__head 
                            h3 Your Failoure | Probelem You faced While Doing What you do?
                        .gbox__bod
                            p Describe The time when you hit rock bottom and how you got yourself back up This kind of points shows how mentally strong you are, how you dont run away from your problems.  
                            p If the form | Theme doesnt have this section feel free to add it in About me section.
                    .gbox 
                        .gbox__head 
                            h3 Previous Work | Accomplishments
                        .gbox__bod
                            p Describe What you have done, achieved so far in your line of carreer.  
                            p If you have acheived nothing, flex out your certificates, degrees, your prides your glory days relevent to your profession.
                    .gbox 
                        .gbox__head 
                            h3 Image Section
                        .gbox__bod
                            p If the theme has Cover Image Your First Image will be your Theme Cover Image.  
                            p Other Images Must be relevent to your previous Work, Accomplishments, degrees, pride.
                            p Note Some Theme requires 5 image whereas In some You can Upload upto 20 Images to No Image
                    .gbox 
                        .gbox__head 
                            h3 Image Heading Section
                        .gbox__bod
                            p Give your Image a heading or if you want to price your art work you can type in Rs. Amount  
                    .gbox 
                        .gbox__head 
                            h3 Note
                        .gbox__bod
                            p Please Fill Every Field in the Form and Hit Create!  
                h3 How To Create Your 
                    span.mid Invitation 
                        span.lst ?
                p Follow the Same procedure and you are all set!
            #aboutTM.padder
                h2 About 
                    span.maf Lakhey 
                        span.gry De 
                            span.mid Tech
                p LakheyTech is a Application Developer. LakheyTech is here to bring your idea, plan to app-reality. In this era of Technology, where everything is running in web and app form, LakheyTech is here to set you up for the sail to deep technology of web and Applications.
                h3 Things You Should Know 
                p The only thing you should know before contacting LakheyTech is 'NOTHING'. We will proccess you through all the small details we do while building the application.
                h3 What We Do?
                ul 
                    li Responsive Web App Development 
                    li Application Program Interface(API) Development
                h3 What We Do Not Do?
                p 'WE DO NOT REPAIR YOUR COMPUTER !'
                h3 Why A Application?
                p  In this age of Information Technology, the new generation's after certain age uses mobile, desktop, laptop. This create a huge market for your business to grow, or your blog to reach many people. Many have already stepped in to this era and are growing their business. so should you do it too! 
                h3 What LakheyTech Do It For?
                ul 
                    li LakheyTech has the power to bring your dream idea to reality and we want to bring it to reality for you. 
                    li With All those technologies Out there You might get overwhelmed about what to do and what not to. LakheyTech is here to clear out your confusion and make things easy for you 
                h3 Copyright Notice 
                p The entire Porti.com Web Site is Copyright © 2022 by LakheyTech. All Rights Reserved. The techmafia.com site may not be copied or duplicated in whole or part by any means without express prior agreement in writing or unless specifically noted on the site.
                p Some photographs, icons contained on the site may be the copyrighted property of others; acknowledgement of those copyrights is hereby given. All such material is used with the permission of the owner. 
            #contactTM.padder 
                h2 Contact 
                    span.maf Lakhey 
                        span.gry De 
                            span.mid Tech
                .sender
                    .msg-form
                        h3.heading-secondary.ma-bt-lg Send Message To Lakhey De Tech
                        form.msg__form
                            label.form__label(for='name') Name
                            input#msgname.form__input(type='text', name="name", placeholder='your name', required)
                            label.form__label(for='email') Email address
                            input#msgemail.form__input(type='email', name="email", placeholder='youremail@gmail.com', required)
                            label.form__label(for='siteType') Site Type 
                            select.form__select(type='select', name="siteType", id="siteType")
                                    option(value="E-commerce") E-commerce
                                    option(value="Logistic") Logistic 
                                    option(value="Blog") Blog 
                                    option(value="E-learning") E-learning 
                                    option(value="Media") Media 
                                    option(value="Other") Other
                            label.form__label(for='message') Message 
                            textarea#msgmessage.form__input(type="text", name="message", placeholder="i want you to build me a ecom site with this and that...", rows="5", cols="30", required)
                            .form__group
                            button.send__msg.greybtn Send

                        h1.loader
                            img.porti__off__img(src="/images/smalport.png", alt="porti__img")
                            span Por
                            span.grn t
                            span.nocaps i
                        img#ok.hidden(src="/images/ok.png", alt="loader")

            #devSection.padder 
                h2 Become a 
                    span.mid Lakhey
                    span.lst Tech Hitman
                button#becomeDeveloper.greybtn Load it

    script(src="/js/alert.js")
    script(src="/js/home.js")  
    script(src="/js/sendmsg.js")