extends base

block content
    h1.loader
        img.porti__off__img(src="/images/smalport.png", alt="porti__img")
        span Por
        span.grn t
        span.nocaps i
    if (invites.length == "" || invites.length == null || invites.length == undefined)
        .four0four 
            h2 You have not Created Any Invitation YET!!! Create One and Come Back 
            a.limebtn(href="/porti#crtInvi") Create One 
    else
        if (user)
            include _header
            .invi__grp
                .card__main 
                    each invite in invites
                        if (invite.user.id == user._id)
                            a.card(href=`/myinvi/${invite._id}`)
                                .card__head
                                    h1= invite.fname
                                    p View Invitation

        else
            .confirm__pg 
                h1 You are not logged In!
                a.redbtn(href="/login") LogIn

    script(src="/js/alert.js") 
    //- script(src="/js/logout.js") 