extends base

block content
    h1.loader
        .bink
            img.porti__off__img(src="https://portiblobstorage.blob.core.windows.net/portithemeimage/smalport.png", alt="porti__img")
            span.td Por
            span.grn t
            span.nocaps.td i
    if (invites.length == "" || invites.length == null || invites.length == undefined)
        p.hidden.uthemer= user.theme
        .four0four 
            h2.head You have not Created Any Invitation YET!!! Create One and Come Back 
            a.limebtn(href="/porti#crtInvi") Create One 
    else
        if (user)
            include _header
            .creation__body
                include _footer
                p.hidden.uthemer= user.theme
                .invi__grp
                    .card__main 
                        each invite in invites
                            if (invite.user.id == user._id)
                                a.card(href=`/myinvi/${invite._id}`)
                                    .card__head
                                        h1= invite.fname
                                        p View Invitation

        else
            .confirm__pg 
                h1 You are not logged In!
                a.redbtn(href="/login") LogIn

    script(src="/js/alert.js")
    script(src="/js/inviall.js")  