extends base

block content 
    h1.loader
        .bink
            img.porti__of__img(src="/images/vlogo.png", alt="porti__img")
    
    .landing__page 
        .video__container
            video.landing__video(autoplay loop muted) 
                source(src="/images/cov.mp4" type="video/mp4")
        .landing__intro 
            .landing__intro__head
                h1.intro__head Take Your Business
                h1.intro__head Online, It's Free
                br
                p Create a user-friendly and visually appealing webpage that showcases your products or services which is mobile-responsive.
            a.lets__start__btn.landinganc(href="/account/signup") Let's Start
        include _menubar
        .landing__howcansec.white__cont 
            h1.howcanhead.subheadlogo How Can 
                img.subheadlogoimg(src="/images/sublogo.png")
                span Help You?
            .landing__iwantto__sec 
                .landing__sell__online.grn__card 
                    .iwanto__card 
                        h2.iwantohead I want a Online Store
                        p.nomg vPorti simplifies the task of setting up an online store, making it easy for you to showcase and sell your products 
                        .learnmore__sec 
                            a.learnmore__btn(href="/vporti/courses") 
                                span Learn more 
                                i.rightarrow.fa-solid.fa-arrow-right
                        .iwanto__inner 
                            .iwanto__inner__first
                                img.onlineimg(src="/images/online.jpg", alt="")
                                .shape__sec 
                                    .circle 
                                    .rec__sec 
                                        .long__rec 
                                        .short__rec
                            .iwanto__inner__sec 
                                img.onlineimg(src="/images/online2.jpg", alt="")
                                .shape__sec 
                                    .circle 
                                    .rec__sec 
                                        .long__rec 
                                        .short__rec
                .landing__make__portfolio.grn__card
                    .iwanto__card 
                        h2.iwantohead I want to create Portfolio
                        p.nomg vPorti makes it easy for you to create a beautiful portfolio webpage with its simple and user-friendly process 
                        .learnmore__sec 
                            a.learnmore__btn(href="/vporti/courses") 
                                span Learn more 
                                i.rightarrow.fa-solid.fa-arrow-right
                        .land__taketo__mid
                            img.landport(src="/images/landport.png", alt="portsecimg")
                .landing__qr__menu.grn__card 
                    .iwanto__card 
                        h2.iwantohead I want a QR Menu 
                        p.nomg vPorti can create you a qr based menu for your restaurant with just couple of clicks. 
                        .learnmore__sec 
                            a.learnmore__btn(href="/vporti/courses") 
                                span Learn more 
                                i.rightarrow.fa-solid.fa-arrow-right
                        .iwanto__inner 
                            .iwanto__inner__first
                                img.onlineimg(src="/images/landqr.jpg", alt="")
                                .shape__sec 
                                    .circle 
                                    .rec__sec 
                                        .long__rec 
                                        .short__rec
                            .iwanto__inner__sec 
                                img.onlineimg(src="/images/landmenu.jpg", alt="")
                                .shape__sec 
                                    .circle 
                                    .rec__sec 
                                        .long__rec 
                                        .short__rec
                .landing__invi.grn__card
                    .iwanto__card 
                        h2.iwantohead I want a Invitation Webcard
                        p.nomg vPORTi makes it easy for you to create a beautiful Invitation webpage, the next time you invite people over with style 
                        .learnmore__sec 
                            a.learnmore__btn(href="/vporti/courses") 
                                span Learn more 
                                i.rightarrow.fa-solid.fa-arrow-right
                        .land__taketo__mid
                            img.invilandimg(src="/images/landinvi.jpg", alt="portsecimg")
        .landing__ripoff 
            h1.rip Creating a website can be a rip off, 
            h1.rip.subheadlogo create 
                img.subheadlogoimg(src="/images/sublogo.png")
            .learnmore__sec 
                a.learnmore__btn.start_mid_sec(href="/account/signup") 
                    p Start Creating 
                    i.startarrow.fa-solid.fa-arrow-right
        .landing__effort.white__cont 
            h1.subheadlogo Clicks away with 
                img.subheadlogoimg(src="/images/sublogo.png")
            p.nomg Customize, create and manage your portfolio, online store and invitation with ease.
            .hover__card__sec
                .hover__card__left 
                    h2.landtoport.mrleft Portfolio 
                        i.portarrow.fa-solid.fa-arrow-right
                    h2.landtoinvi.mrleft Invitation 
                        i.inviarrow.fa-solid.fa-arrow-right.hidden
                    h2.landtomenu.mrleft Foodmenu 
                        i.menuarrow.fa-solid.fa-arrow-right.hidden
                    h2.landtocatalog.mrleft Catalog 
                        i.catalogarrow.fa-solid.fa-arrow-right.hidden
                    h2.landtobrochure.mrleft Brochure 
                        i.broarrow.fa-solid.fa-arrow-right.hidden
                .hover__card__right
                    img.hoverimg(src="/images/layout6.png" alt="portfolio_layout")
        .landing__ripoff.unsure 
            h1.fly Lacking capital to go online? 
            p.fly.headp Create online store for 
                span.headlogo Free
            .learnmore__sec 
                a.landinganc(href="/vporti/guidelines").learnmore__btn.start_mid_sec 
                    p Learn More 
                    i.startarrow.fa-solid.fa-arrow-right
        .landing__stats__sec.white__cont 
            h1.subheadlogo Business Statistics in 
                img.subheadlogoimg(src="/images/sublogo.png")
            p.nomg All your business statistics in one place, orders made, total amount, return, reservation and many more.
            .stats__img__sec 
                img.stats_img(src="/images/menu/stats.png")
                img.stats_img(src="/images/menu/chart.png")
        .landing__slider__sec
            .landing__center
                h1.subheadlogo To your destination with 
                    img.subheadlogoimg(src="/images/sublogo.png")
            p.nomg Select a theme and start 
            .slider__sec 
                .slider__right 
                    each theme in portThemes
                        .overlay__container
                            img.slider__img(src=`${theme.picture}`, alt="sliderimg")
                            .overlay 
                                .overlay__details 
                                    p Create this 
                                        span= theme.themeCategory
                                        span  layout for now
                                    .landing__btn Start with this
                    .overlay__container
                        img.slider__img(src=`/images/layout5.png`, alt="sliderimg")
                        .overlay 
                            .overlay__details 
                                p Start with this Portfolio layout for now
                                .landing__btn Create Now
                .slider__left
                    each theme in themes
                        .overlay__containerSec
                            img.slider__img(src=`${theme.picture}`, alt="sliderimg")
                            .overlay 
                                .overlay__details 
                                    p Create this 
                                        span= theme.themeCategory
                                        span  layout for now
                                    .landing__btn Start with this
        .landing__vporti__created.white__cont 
            h1.subheadlogo Webpage created with 
                img.subheadlogoimg(src="/images/sublogo.png") 
            .vporti__created__inner 
                .vporti__created__inner__left
                    p.nomg With so many pre built themes and custom theme feature you can easily create your own webpage
                    p.nomg Add your own privacy polices and conditions 
                    p.nomg Tweak it any way you want 
                img.vcimg(src="/images/syar.png", alt="", srcset="")
        .landing__footer 
            include _footer
    script(src="/js/alert.js")
    script(src="/js/newMenu.js") 
    script(src="/js/landingPage.js")