extends base

block content

    if !user 
        include _loginForm
    else 
        include _header
        .login__bod 
            h1= `Namaste! ${user.name}, You are Logged In!`
            a(href="/layouts/porti")
                button.redbtn Go to Porti 
        
    