extends base

block content

    if !user 
        include _loginForm
    else 
        include _header
        .login__bod 
            h1= `Hola! ${user.name}, You are Logged In!`
            a(href="/porti")
                button.redbtn Go to Porti 

        #menu 
    script(src="/js/menu.js") 
        
    