extends base

block content
  h1.loader
    img.porti__off__img(src="/images/smalport.png", alt="porti__img")
    span Por
    span.grn t
    span.nocaps i
  .login__head 
    a.port_sec_head.hm(href="/" title="home")
        img.porti__off__img(src="/images/smalport.png", alt="porti__img")
        h1 Por
        h1.grn t
        span.nocaps i
    if (!user)
        a.bold.nocaps.nodeco.wite(href="/porti-highlights" title="porti") Layouts
    else
        a.bold.nocaps.nodeco.wite(href="/porti" title="layouts") Layouts
  form#reset__form.rs_form
    h2#reset__head Reset Your Password
    label.form__label(for='password') New Password 
    p Note: Password Must be atleast 9 Characters long
    input#rpwd.form__input(type='password',  placeholder='********', required, minlength='8')
    label.form__label(for='password') Confirm Password 
    input#rpwdC.form__input(type='password',  placeholder='********', required, minlength='8')
    button.btn__reset.redbtn Reset Password

  script(src="/js/alert.js") 
  script(src="/js/auth/resetpwd.js") 
