extends base

block content
  .loader
    .out__load
        .inn__load
            .inner__loader
    p.lodtl Tech 
            span.lodmid Mafia
                span.lodend ...
  include _header.pug
  form#reset__form.rs_form
    h2#reset__head Reset Your Password
    p Check your mail for token
    label.form__label(for='text') Token 
    input#rtoken.form__input(type='text', name='token' placeholder='Enter Your Token', required)
    br
    label.form__label(for='password') New Password 
    input#rpwd.form__input(type='password',  placeholder='********', required, minlength='8')
    br
    label.form__label(for='password') Confirm Password 
    input#rpwdC.form__input(type='password',  placeholder='********', required, minlength='8')
    br
    button.btn__reset.redbtn Reset Password

  script(src="/js/alert.js") 
  script(src="/js/auth/resetpwd.js") 
