extends base

block content 
    .loader
        .bink
            img.porti__of__img(src="/images/vlogo.png", alt="porti__img")
    .login__page 
        .login__box
            .login__logo__cont 
                a(href="/")
                    img.login__logo(src="/images/blackbglogo.png", alt="porti__img")
            form.login__form__cont
                .login__form__inner__cont 
                    label Password 
                    .login__form__row 
                        i.fa-solid.fa-lock
                        input.log__inputbox#rpwd(type='password' placeholder="**********" required)
                .login__form__inner__cont 
                    label Re-Enter Password 
                    .login__form__row 
                        i.fa-solid.fa-lock
                        input.log__inputbox#rpwdC(type='password' placeholder="**********" required)
                .login__form__button.btn__reset Reset Password

            .login__other__cont
                .login__other__inner__cont
                    a.login__page__forgot.login__page__other__btn(href="/account/login") Login
                    a.login__page__signup.login__page__other__btn(href="/account/signup") Signup 

    script(src="/js/alert.js")
    script(src="/js/auth/resetpwd.js") 