extends base

block content
  .loader
    .out__load
        .inn__load
            .inner__loader
    p.lodtl Tech 
            span.lodmid Mafia
                span.lodend ...
  .login__head 
    a.port_sec_head.hm(href="/" title="home")
        h1 Tech 
            span Mafia
    if (!user)
        a.crpt.smallest__cont(href="/porti-highlights" title="porti")
            img(src="/images/smalport.png", alt="view_port")
            p.name__tag Porti
    else
        a.crpt.smallest__cont(href="/porti" title="porti")
            img(src="/images/smalport.png", alt="view_port")
            p.name__tag Porti
  form#reset__form.rs_form
    h2#reset__head Reset Your Password
    p Check your mail for token
    label.form__label(for='text') Token 
    input#rtoken.form__input(type='text', name='token' placeholder='Enter Your Token', required)
    label.form__label(for='password') New Password 
    p Note: Password Must be atleast 9 Characters long
    input#rpwd.form__input(type='password',  placeholder='********', required, minlength='8')
    label.form__label(for='password') Confirm Password 
    input#rpwdC.form__input(type='password',  placeholder='********', required, minlength='8')
    button.btn__reset.redbtn Reset Password

  script(src="/js/alert.js") 
  script(src="/js/auth/resetpwd.js") 
