
.main__header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fourth__head{
    position: absolute;
    top: 0;
    left: 1vw;
    text-shadow: 2px 2px tomato;
    font-family: monospace;
    z-index: 1;
}

.bg__imgCov img{
    background-position: center;
    background-size: contain;
    height: 100vh;
    width: 100vw;
}

.header__round{
    background-image: url('/images/fire.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    filter: saturate(2);
    border-radius: 16rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 70vh;
    animation: rotateOut 15s linear infinite;
}

.header__round__inner{
    background-color: transparent;
    border-radius: 12rem;
    position: absolute;
    height: 40vh;
    width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.header__round__inner img{
    margin: 0;
    cursor: pointer;
    padding: 4%;
    transition: transform .2s;
    height: 30%;
    width: 30%;
}

.header__round__inner img:hover{
    transform: scale(1.5);
    filter: saturate(2);
}

.anc__first{
    color: greenyellow;
    font-size: 1.5rem;
    filter: saturate(2)
}

.anc{
    color: white;
    font-size: 2rem;
    filter: grayscale(.5);
}

.anc__last{
    color: white;
    font-size: 1.5rem;
    filter: grayscale(.5);
}

.hide{
    display: none;
}

.main__about__section, .main__prev__section, .main__cont__section{
    position: absolute;
    top: 0;
    font-size: 13px;
    background-color: rgba(44, 44, 44, 0.87);
    padding: 2%;
    margin: 3%;
    height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.main__cont__section{
    width: 90vw;
}

.main__about__head, .main__prev__head, .main__cont__head{
    display: flex;
    justify-content: space-between;
}

#fourthClose, #fourthSecClose, #fourthThirdClose{
    cursor: pointer;
}


@media (min-width: 601px) and (max-width: 900px){
    .header__round{
        height: 500px;
        width: 500px;
        border-radius: 18rem;
    }

    .header__round__inner{
        font-size: 8px;
        height: 30vh;
        width: 30vh;
    }

    .header__round__inner img{
        padding: 4%;
        height: 30%;
        width: 30%;
    }    

    .main__about__section, .main__prev__section, .main__cont__section{
        height: 90vh;
    }
}

@media screen and (max-width: 600px){
    .header__round{
        height: 300px;
        width: 300px;
        border-radius: 10rem;
        background-size: cover;
    }

    .header__round__inner{
        font-size: 8px;
        height: 25vh;
        width: 25vh;
    }

    .header__round__inner p{
        font-size: 1.3rem;
        margin: 3%;
    }

    .header__round__inner img{
        height: auto;
        width: auto;
    }    

    .main__about__section, .main__prev__section, .main__cont__section{
        height: 95vh;
    }
}

@keyframes rotateOut {
    from {
      opacity: 1;
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 200deg);
      transform: rotate3d(0, 0, 1, 360deg);
      opacity: 1;
    }
  }