.whole__homepage{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

.main__content, .bod{
    background-color: rgb(0, 26, 0);
    font-family: 'Arial Narrow Bold', sans-serif, Times, serif;
    font-size: 16px;
    height: 100vh;
    overflow-x: hidden;
}

.main__content{
    height: 77vh;
}

.accpic{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    margin-right: 1vw;
}

.logout{
    cursor: pointer;
}

.presents{
    position: absolute;
    font-variant: small-caps;
    top: 40vh;
    left: 52%;
    transform: translate(-50%, 0);
    animation: present 4s ease-in-out;
    display: flex;
    align-items: center;
}

.maf{
    color: crimson;
}

.gry{
    color: gray;
}

.grn{
    color: rgb(54, 219, 54);
}

.porti__off__img{
    margin-left: 2px;
    margin-right: 2px;
}


.main__content__log{
    position: absolute;
    top: 5vh;
    left: 50%;
    font-weight: bolder;
    transform: translate(-58%, 0);
    animation: tm 4s infinite ease-in-out;
}

.main__content__log:hover{
    animation: none;
}

.fkAncky{
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: gray;
}

.opst{
    color: gray;
    text-decoration: none;
    display: inline-block; 
}
.opst:hover{
    transform: none;
}

.post:hover{
    transform: none;
}

.mid{
    color: white;
}

.lst{
    color: gray;
}

.crPr{
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    letter-spacing: 2px;
    text-align: center;
}

.crPr:hover{
    color: whitesmoke;
}

.orng{
    color: tomato;
}

.orng:hover{
    color: orangered
}

.catchybtn a{
    color: white;
    text-decoration: none;
    font-family: Cabin Sketch, Arial, Helvetica, sans-serif;
    font-size: 50px;
    width: 100vw;
}

.newusersignup{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    top: 20vh !important;
}

.framebtn {
    padding: calc(.5em + .40em) calc(.9em + .40em);
    color: white;
    background:
      conic-gradient(from 90deg at 2px 2px,#0000 90deg,white 0)
      .40em .40em/calc(100% - 2px - 2*.40em) calc(100% - 2px - 2*.40em);
    font-size: 16px;
    font-variant: small-caps;
    border: 0;
}

.effectbtn{
    background-color: transparent;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2%;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 2rem;
    box-shadow: 6px 0px 0px white;
    font-size: 16px;
    font-weight: bold;
}

.effectbtn:hover{
    background-color: transparent;
}

.main__content__nav{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
    margin: 1%;
}

.main__content__learn {
    position: absolute;
    top: 55vh;
}

.main__content__logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 70vh;
    padding: 1%;
    align-items: center;
    margin: 0;
    padding: 0;
}

.quote {
    padding: 1%;
}

.qttxt{
    font-size: 16px;
    font-family: Cabin Sketch, Arial, Helvetica, sans-serif;
}

.logo__grp{
    margin-right: 2%;
    font-variant: small-caps;
    font-weight: 900;
    font-size: x-large;
}

.learn__content{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.bod{
    display: flex;
    justify-content: center;
    text-align: justify;
    height: auto;
}

.view__tm{
    width: 90vw;
    color: gray;
}

.view__tm h2{
    font-variant: small-caps;
}

.view__tm h3{
    font-variant: small-caps;
}

.view__tm p{
    padding: 0 0 0 2%;
}

.text__shadow{
    text-shadow: 3px 2px 15px black;
}

.padder{
    margin: 5% 0% 5% 0%;
    padding: 5vh 2vw 2vh 2vw;
    animation: shine 4s ease-in-out forwards infinite;
}

.nocapsB{
    font-variant: normal;
    font-size: .7em;
}

.containr{
    display: flex;
    width: 100%;
    font-variant: small-caps;
}

.first__half__cont{
    width: 50%;
    font-size: 5.2vw;
}

.second__half__cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second__half__head{
    text-align: right;
    margin-top: 5vh;
    margin-bottom: 15vh;
}

.to__left{
    text-align: left !important;
}

.guidlink{
    font-variant: normal;
    margin: 0;
}

.shwbtn{
    padding: 2%;
    border: 2px solid rgb(54, 219, 54);
    color: rgb(54, 219, 54);
    background-color:rgb(0, 26, 0);
    font-weight: bolder;
    font-size: 2em;
    font-variant: small-caps;
    cursor: pointer;
}

.shwbtn:hover{
    background-color: rgb(54, 219, 54);
    color :rgb(0, 26, 0);
}

.link__format{
    display: flex;
    justify-content: center;
}

.porti_all_link{
    background-color: chartreuse;
    width: fit-content;
    font-size: 2em;
    color:rgb(0, 26, 0);
    border-radius: 2rem;
    padding: 1% !important;
}

.bottom__nav{
    display: flex;
    flex: row;
    justify-content: space-between;
}

.bottom__anch{
    color: rgb(207, 207, 207);
    text-decoration: none;   
    cursor: pointer;
}

.bottom__nav__inner{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.darkgreen{
    background-color: rgb(0, 26, 0);
    border-radius: 2rem;
    color: rgb(184, 184, 184);
}

.guide__box{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.gbox{
    border: 1px solid gray;
    padding: 2%;
    width: 30vw;
    height: auto;
    text-align: center;
    margin: 2%;
    border-radius: 1rem;
}

.gbox:hover{
    background-color: gray;
    color: white;
}

.greybtn{
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
    padding: 2%;
    text-decoration: none;
    font-weight: bolder;
    font-variant: small-caps;
    cursor: pointer;
}

.greybtn:hover{
    background-color: grey;
    color: rgb(26, 26, 26);
}

.limebtn{
    background-color: transparent;
    color: rgb(54, 219, 54);
    border: 1px solid rgb(54, 219, 54);
    padding: 2%;
    text-decoration: none;
    font-weight: bolder;
    font-variant: small-caps;
    cursor: pointer;
}

.limebtn:hover{
    background-color: rgb(54, 219, 54);
    color: rgb(0, 26, 0);
}

.msg-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.msg__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.msg__form label{
    color: white;
    font-variant: small-caps;
    margin: 2%;
}

.msg__form input{
    margin: 2%;
    border: 1px solid gray;
    color: gray;
    padding: 2%;
    width: 20vw;
}

.msg__form textarea{
    margin: 2%;
    border: 1px solid white;
    padding: 2%;
    height: 10vh;
    width: 20vw;
}

.msg__form textarea{
    resize: none;
}

.msg__form select{
    background-color: rgb(0, 26, 0);
    border: 1px solid white ;
    color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 2%;
    margin: 2%;
    width: 20vw;
}

.send__msg{
    margin: 2%;
}

#contactTM{
    padding-bottom: 20vh;
}

.bg__changer{
    animation: clChanger 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.white__changer{
    animation: clwChanger 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.red__changer{
    animation: clrChanger 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.black__changer{
    animation: clbChanger 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.error__cont{
    position: fixed;
    top: 40vh;
    background-color: rgba(220, 20, 60, 0.527);
    padding: 5vh;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: small;
    z-index: 1;
  }

.go__top{
    background-color: transparent;
    width: 4rem;
    height: 4rem;
    border-radius: 8rem;
    position: fixed;
    align-items: flex-end;
    bottom:1vh;
    right: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    animation: transform .5s;
    animation: shine 4s ease-in-out forwards infinite;
}

.go__top:hover{
    transform: scale(1.1);
}

.fot_sec{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 9px;
    overflow-x: hidden;
  }

.footer__first__bod{
    width: 50%;
}

.footer__contact__bod{
    padding-left: 45%;
}

.cabinsketch{
    font-family: Cabin Sketch;
}

.new__signup__sec{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.596);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.signup__bod{
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    height: 80vh;
    padding: 2%;
}

.infotag{
    font-size: 10px;
}

.signup__innersec{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.signup__input{
    width: 100%;
    height: 5vh;
}

.signupbtn{
    background-color: green;
    color: white;
    border: 1px solid green;
    padding: 2%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
    margin: 2%;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 16rem;
    font-size: 25px;
}

@media (max-height: 600px) {
    .main__content__log{
        position: relative;
        width: fit-content;
        z-index: 1;
    }
    .presents{
        top: 10vh !important;
        text-align: center;
    }
    .fkAncky, .crPr{
        transform: none;
        display: flex;
        justify-content: center;
    }

    .opst {
        transform: none;
    }

    .main__content__nav{
        flex-direction: row !important;
        justify-content: space-evenly;
        align-items:center;
    }

    .main__content{
        height: 75vh !important;
    }

    .main__content__log{
        top: 5vh;
    }

    .main__content__learn {
        top: 55vh;
    }

    .main__content__logo{
        top: 1vh;
    }

    .bottom__nav__inner{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {

    .catchybtn{
        top: 20vh !important;
    }

    .signup__bod{
        width: 90vw;
    }

    .infotag{
        font-size: 8px;
    }
        
    input, select, textarea{
        font-size: 16px !important;
    }

    .main__content__log{
        transform: translate(-53%, 0);
        top: 0;
        margin-top: 1.5vh;
    }

    .main__content__logo{
        display: flex;
        flex-direction: column;
        top: 65vh;
    }

    .quote {
        padding: 0;
    }
    
    .qttxt{
        font-size: 11px;
    }

    .main__content{
        margin-top: 2vh;
        height: 80vh;
    }

    .catchybtn{
        width: 90vw;
    }
    
    .catchybtn a{
        font-size: 30px;
    }

    .main__content__nav{
        flex-direction: column;
        justify-content: space-evenly;
        height: 60vh;
    }

    .view__tm{
        width: 95vw;
        font-size: 14px;
    }

    .containr{
        flex-direction: column;
    }

    .first__half__cont{
        width: 100%;
        font-size: 3em;
    }

    .second__half__cont{
        width: 100%;
    }

    .second__half__head{
        margin-top: 0;
        margin-bottom: 5vh;
    }

    .bottom__nav h2{
        font-size: 14px;
    }

    .bottom__nav__inner{
        width: 70%;
        font-size: 10px;
    }

    .greybtn{
        padding: 4%;
    }

    .guide__box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gbox{
        width: 70vw;
        margin: 2% 0 2% 0;
    }

    .porti_all_link{
        font-size: 1.2em;
    }

    .msg__form label{
        margin: 2%;
    }

    .msg__form input, .msg__form textarea, .msg__form select{
        margin: 4%;
        padding: 4%;
        width: 70vw;
    }

    .go__top{
        bottom: 1vh;
        right: 3vw;
    }

    .footer__contact__bod{
        padding-left: 0;
    }
}

@media (min-width: 601px) and (max-width: 900px){

    .main__content{
        height: 80vh;
    }
    
    .catchybtn a{
        font-size: 30px;
        width: 100vw;
    }

    .main__content__log{
        position: relative;
        width: fit-content;
        z-index: 1;
    }

    .main__content__nav{
        flex-direction: column;
        justify-content: space-evenly;
        height: 75%;
    }

    .bottom__nav__inner{
        width: 65%;
    }
    
    .presents{
        top: 40vh;
        text-align: center;
    }

    .containr{
        flex-direction: column;
    }

    .first__half__cont{
        width: 100%;
        font-size: 4em;
    }

    .second__half__cont{
        width: 100%;
    }

    .second__half__head{
        margin-top: 0;
        margin-bottom: 5vh;
    }


    .greybtn{
        padding: 4%;
    }

    .msg__form label{
        margin: 2%;
    }

    .msg__form input, .msg__form textarea, .msg__form select{
        margin: 4%;
        padding: 4%;
        width: 40vw;
    }

    .footer__contact__bod{
        padding-left: 25%;
      }
}

@keyframes present {
    0%{
        opacity: 0;
        color: rgba(255, 255, 255, 0.137);
    }
    10%{
        opacity: 0.1;
        color: rgba(255, 255, 255, 0.295);
    }
    20%{
        opacity: 0.2;
        color: rgba(255, 255, 255, 0.582);
    }
    30%{
        opacity: 0.3s;
        color: rgba(255, 255, 255, 0.815);
    }
    100%{
        opacity: 1;
        color: white;
    }
}

@keyframes clChanger {
    0%{
        background-color: white;
    }
    50%{
        background-color: rgb(26, 26, 26);
    }
    100%{
        background-color: rgb(0, 26, 0);
    }
    
}

@keyframes clwChanger {
    0%{
        background-color: white;
    }
    50%{
        background-color: rgb(26, 26, 26);
    }
    100%{
        background-color: white;
    }
    
}

@keyframes clrChanger {
    0%{
        background-color: white;
    }
    50%{
        background-color: rgb(26, 26, 26);
    }
    100%{
        background-color: crimson;
    }
    
}

@keyframes clbChanger {
    0%{
        background-color: white;
    }
    50%{
        background-color: rgb(26, 26, 26);
    }
    100%{
        background-color: black;
    }
    
}

@keyframes bodCl {
    0%{
        background-color: crimson;
    }
    100%{
        background-color: white;
    }
    
}

  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }