.main__content, .bod{
    background-color:rgb(26, 26, 26);
    font-family: 'Arial Narrow Bold', sans-serif, Times, serif;
    font-size: 16px;
    margin: 0px;
    height: 100vh;
    overflow-x: hidden;
}

.presents{
    position: absolute;
    font-variant: small-caps;
    top: 65vh;
    left: 50%;
    transform: translate(-50%, 0);
    animation: present 4s ease-in-out;
}

.main__content__log{
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-58%, 0);
    animation: tm 4s infinite ease-in-out;
}

.main__content__log:hover{
    animation: none;
}

#log{
    display: flex;
}

#log:hover{
    color: white;
}

.fkAncky{
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    letter-spacing: 2px;
    color: gray;
    transition: transform .4s;
    transform: rotate(270deg);
}

.opst{
    color: gray;
    text-decoration: none;
    display: inline-block; 
    transform: scale(1,-1);
}

.fkAncky:hover{
    transform: none;
}

.norot:hover{
    transform: rotate(270deg);
}

.post:hover{
    transform: none;
}

.mid{
    color: white;
}

.lst{
    color: gray;
}

.crPr{
    color: crimson;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    letter-spacing: 2px;
    text-align: center;
}

.main__content__nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main__content__learn {
    position: absolute;
    top: 80vh;
}

.learn__content{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.bod{
    display: flex;
    justify-content: center;
    text-align: justify;
    height: auto;
}

.view__tm{
    width: 80vw;
    color: gray;
}

.view__tm h2{
    font-variant: small-caps;
}

.view__tm h3{
    font-variant: small-caps;
}

.view__tm p{
    padding: 0 0 0 2%;
}

.padder{
    margin: 5% 0 5% 0;
    padding: 5vh 2vw 2vh 2vw;
    border: 1px solid grey;
}

.guide__box{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.gbox{
    border: 1px solid gray;
    padding: 2%;
    width: 30vw;
    height: auto;
    text-align: center;
    margin: 2%;
}

.greybtn{
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
    padding: 2%;
    text-decoration: none;
    font-weight: bolder;
    font-variant: small-caps;
    cursor: pointer;
}

.greybtn:hover{
    background-color: grey;
    color: rgb(26, 26, 26);
}

.msg-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.msg__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.msg__form label{
    color: gray;
    font-variant: small-caps;
    margin: 2%;
}

.msg__form input, .msg__form textarea{
    margin: 2%;
    border: 1px solid grey;
    padding: 2%;
}

.msg__form select{
    background-color: transparent;
    border: 1px solid grey ;
    color: gray;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 2%;
    margin: 2%;
}

.send__msg{
    margin: 2%;
}

#contactTM{
    padding-bottom: 20vh;
}

#msg_load{
    position: static;
}

.bg__changer{
    animation: clChanger 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.crim{
    animation: clCrim 1.5s ease-in-out forwards;
}

@media (max-height: 600px) {
    .presents{
        top: 10vh !important;
        text-align: center;
    }
    .fkAncky, .crPr{
        transform: none;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main__content__log{
        top: 5vh;
    }

    .main__content__learn {
        top: 70vh;
    }
}

@media screen and (max-width: 600px) {
    .main__content__log{
        transform: translate(-53%, 0);
    }

    .presents{
        top: 55vh;
        text-align: center;
    }

    .view__tm{
        width: 95vw;
        font-size: 14px;
    }

    .greybtn{
        padding: 4%;
    }

    .guide__box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gbox{
        width: 70vw;
        margin: 2% 0 2% 0;
    }

    .msg__form label{
        margin: 2%;
    }

    .msg__form input, .msg__form textarea, .msg__form select{
        margin: 4%;
        padding: 4%;
    }
}

@media (min-width: 601px) and (max-width: 900px){
    .presents{
        top: 55vh;
        text-align: center;
    }

    .greybtn{
        padding: 4%;
    }

    .msg__form label{
        margin: 2%;
    }

    .msg__form input, .msg__form textarea, .msg__form select{
        margin: 4%;
        padding: 4%;
    }
}

@keyframes present {
    0%{
        opacity: 0;
        color: rgba(255, 255, 255, 0.137);
    }
    10%{
        opacity: 0.1;
        color: rgba(255, 255, 255, 0.295);
    }
    20%{
        opacity: 0.2;
        color: rgba(255, 255, 255, 0.582);
    }
    30%{
        opacity: 0.3s;
        color: rgba(255, 255, 255, 0.815);
    }
    100%{
        opacity: 1;
        color: white;
    }
}

@keyframes clChanger {
    0%{
        background-color: white;
    }
    50%{
        background-color: crimson;
    }
    100%{
        background-image: linear-gradient(to bottom, rgb(44, 44, 44) , crimson);
    }
    
}

@keyframes clCrim {
    0%{
        background-color: white;
    }
    50%{
        background-color: crimson;
    }
    100%{
        background-color: crimson;
    }
    
}

@keyframes bodCl {
    0%{
        background-color: crimson;
    }
    100%{
        background-color: white;
    }
    
}