html{
    scrollbar-width: thin;
    font-size: 10px;
}

body{
    background-color: rgb(26,26,26) !important;
    color:white;
    margin-top: 0;
}

p{
    text-align: justify;
}

.land__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logout{
    color: white;
    text-decoration: none;
}

#port_name, #invite_name{
    text-align: center;
    /* font-size: medium; */
    font-family: cursive;
}

.land__nav__main{
    display: flex;
    flex-direction: column;
}

.porti__off__img{
    margin-left: 1%;
    margin-right: 4%;
}

.nocaps{
    font-variant: normal;
}

.land__nav__sub{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.land__goto{
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 1rem;
    padding: 2%;
    margin: 2vh;
}

.smallest__cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
  
.name__tag{
    margin-top: 0;
    color: white;
    font-size: 8px;
    font-weight: 100;
    font-family: monospace;
    text-align: center;
}

.xsf{
    font-size: 2rem;
}

.port_link, .invi_link{
    font-size: 12px;
    background-color: rgba(220, 20, 60, 0.411);
    color: white;
    padding: 1%;
    overflow-x: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    scrollbar-width: thin;
    text-align: left;
}

.redbtn, .ygbtn{
    border: 2px solid rgba(220, 20, 60, 0.411);
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 1.5%;
}

.ygbtn{
    border: 2px solid rgba(153, 205, 50, 0.774);
}

.redbtn:hover{
    background-color: rgba(220, 20, 60, 0.411);
    color: white;
}

.ygbtn:hover{
    background-color: rgba(153, 205, 50, 0.774);
    color: white;
}

.land__update{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: 1vh;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
}

.upMarg{
    margin: 2%;
}

.upform__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    width: 100%;
}

.upform__head h1{
    font-size: medium;
}

.cancel, .cancl, .cancelSec, .canclCollec, .cancelSix, #goto__viewInvites, #goto__portfolio, .pointer{
    cursor: pointer;
}

.cont{
    margin: 10vh;
    transition: transform .2s;
}

.cont:hover{
    transform: scale(1.5);
}

.profPic{
    height: 10rem;
    width: 10rem;
    border-radius: 8rem;
}

.userdp{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 8rem;
    cursor: pointer;
  }

.port_sec_head{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    display: flex;
    align-items: center;
}
  
.port_sec_head span{
    font-size: 2em;
    font-weight: bold;
}

.grn{
    color: rgb(54, 219, 54);
}

.upform{
    width: 100%;
    background-color: rgba(37, 37, 37, 0.356);  
    padding: 2%;
    margin: 2%;
}

#upPort label, #upImage label, #upPortSec label, #upImageCollec label, .inviF label, #upInviImage label{
    font-size: 2rem;
    color: gray;
}

#upPort p, #upImage p, #upPortSec p, #upImageCollec p, .inviF p{
    font-size: xx-small;
    margin-top: 0;
    color: gray;
    padding: 0;
}

#upPort input, #upImage input, #upPortSec input, #upImageCollec input, .inviF input, #upInviImage input, .addPortiImages input{
    border: 2px solid crimson;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: transparent;
    color: white;
    padding: 1%;
    width: 348px;
}

#upFb, #upFbSec, #upFbSix{
    width: 25vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#upPort textarea, #upPortSec textarea, .inviF textarea{
    border: 2px solid crimson;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    color: white;
    padding: 1%;
    resize: none;
    width: 348px;
}

.form__bod{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    font-size: 2rem;
}

.form__add__bod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.form__add__bod input{
    width: 100%;
    margin: 2%;
}

.rowConv{
    display: flex;
}

.form__divider{
    margin: 3%;
}

#re__up{
    color: white !important;
}

#logout{
    cursor: pointer;
  }

.success__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success__cont{
    position: fixed;
    top: 40vh;
    background-color: rgba(0, 128, 0, 0.452);
    padding: 5vh;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: small;
    z-index: 1;
}

.error__cont{
    position: fixed;
    top: 40vh;
    background-color: rgba(220, 20, 60, 0.527);
    padding: 5vh;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: small;
    z-index: 1;
}

.cancel__alert{
    cursor: pointer;
    margin-left: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
  }

input[type='file']{
    background-color: transparent;
    border: none !important;
    width: 50%;
    color: white;
    font-size:16px;
    font-family: monospace;
    cursor: pointer;
    background-image: url('/images/upload.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1%;
    padding-left: 40px;
}

input[type='file']:hover{
    filter: grayscale(1.5);
    color: gray;
}

input::file-selector-button{
    display: none;
  }

::-webkit-file-upload-button{
    display: none;
}

.checkbox{
    height: 5vh;
    width: 5vw;
}

.bigbtn{
    height: 50px;

}

.sec__land__bod{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.del__port{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.del__bod{
    margin: 2%;
    width: 100%;
}

.dt__cf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    padding: 2%;
}

#delPort, #delInvite{
    width: 100%;
}

.delete__Confirm{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    width: 100vw;
}

.yesDelete{
    padding: 2%;
}

.noDelete{
    padding: 2%;
}

#updateBtn, #updateBtnSec, #updateBtnSix{
    width: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#themes, #themeSec, #themeSix, #inthemes, .thim{
    background-color: transparent;
    border: 2px solid crimson;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: gray;
    width: 348px;
}

.notifier{
    text-align: center;
    margin-top: 45vh;
}

.notifier h1{

    margin-bottom: 4%;
}

.notifier a{
    text-decoration: none;
    padding: 2%;
}

.loader{
    background-color: rgba(0, 0, 0, 0.562);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    scroll-behavior: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.out__load{
    width: 14rem;
    height: 14rem;
    border-radius: 10rem;
    border-top: 1rem solid rgb(255, 255, 255);
    border-bottom: 1rem solid rgb(255, 32, 76);
    animation: rotateLeft 2s linear infinite;
    z-index: 1;
  }
  
.inn__load{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.inner__loader{
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    border-left: 10px solid rgb(255, 255, 255);
    border-right: 10px solid crimson;
    animation: rotateRight 2s linear infinite;
    z-index: 1;
}

.lodtl, .lodend{
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    color: white;
    animation: blink 1.5s infinite linear;
  }

  .lodmid{
    color: white;
  }
  
  .lodtl{
    color: rgb(240, 64, 99);
    font-weight: bolder;
  }

.breadcrumbs{
    background-color: rgba(0, 0, 0, 0.247);
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: auto;
    font-family: monospace;
    padding: 0;
}
  
.breadcrumbs a{
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
}

.arr{
    margin: 1%;
}

.banner{
    background-color: rgba(240, 204, 88, 0.637);
    padding: 1.5%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 1.5rem;
}
  
.bdcb{
    color: gray;
}

.cur{
    color: white;
}

.copy__link{
    display: flex;
    justify-content: space-evenly;
}

.qr__sec{
    display: flex;
    justify-content: center;
}

.qr__img{
    height: 50vh;
}

#editTheme{
    background-color: rgba(0, 0, 0, 0.411);
    margin: 1%;
    padding: 2%;
    border-radius: 2rem;
}

.addHeading{
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addHeading a{
    color: white;
    text-decoration: none;
}

#addImg{
    width: 15%;
    text-align: center;
    padding-left: 5rem;
    margin: 1%;
}

#addName{
    border-top: 0px;
    transition: transform .2s;
    margin: 1%;
    outline: 0;
}

#addName:focus{
    transform: scale(1.2);
}

.addPortiImages{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portImage__tweak__sec h2{
    text-align: center;
    color: white;
}

.port__card__main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.port__images{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.438);
}

.port_img{
    height: 20rem;
    cursor: pointer;
}

.group__btn{
    display: flex;
    justify-content: space-between;
}

.paginate__addimg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.del__img__sec{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(220, 20, 60, 0.822);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    text-align: center;
}

.group__delbtn{
    width: inherit;
    display: flex;
    justify-content: space-around;
}

.delbtn{
    background-color: transparent;
    color: white;
    font-weight: bolder;
    padding: 2%;
    border: 2px solid white;
    cursor: pointer;
}

.delbtn:hover{
    background-color: white;
    color: rgba(220, 20, 60, 0.822);
}

@media (min-width: 601px) and (max-width: 900px){
    .breadcrumbs{
        font-size: 12px;
    }
    .land__sixth, .land__secd, .land__farst{
        margin-left: 0%;
    }

    .port_link, .invi_link{
        font-size: 7px;
        padding: 2%;
    }

    .banner{
        font-size: 12px;
    }

    #upPort label, #upImage label, #upPortSec label, #upImageCollec label, .inviF label, #upInviImage label{
        font-size: 1.8rem;
    }

    input[type='file']{
        width: 70%;
    }

    .xsf{
        font-size: 1.8rem;
    }

    #editTheme{
        margin: 3%;
        padding: 2%;
    }

    #addImg{
        width: 20%;
        padding-left: 5rem;
    }

    .port__images{
        width: 35%;
    }
    .form__bod label{
        font-size: 1.8rem;
        width: 40%;
    }
    
    .form__bod input, .form__bod textarea{
        width: 300px !important;
    }
    #themes, #themeSec, #themeSix{
        width: 300px;
    }
}

@media screen and (max-width: 600px){
    .breadcrumbs{
        font-size: 9px;
    }
    .banner{
        font-size: 10px;
    }

    .land__sixth, .land__secd, .land__farst{
        margin-left: 0%;
    }

    #upPort, #upPortSec, #upPortSix, #upImageCollec, #update_ImgForm{
        padding: 0;
    }

    #upPort label, #upImage label, #upPortSec label, #upImageCollec label, .inviF label, #upInviImage label{
        font-size: 1.2rem;
    }

    input[type='file']{
        width: 50%;
    }

    #editTheme{
        margin: 4%;
        padding: 2%;
    }
    #addImg{
        width: 50%;
        padding-left: 4rem;
    }

    .rowConv{
        display: flex;
        flex-direction: column;
    }

    .xsf{
        font-size: 1.2rem;
    }

    .port_link, .invi_link{
        font-size: 3px;
        padding: 2%;
    }
    .form__bod label{
        font-size: 1.2rem;
        width: 40%;
    }
    
    .form__bod input, .form__bod textarea{
        width: 170px !important;
    }

    #themes, #themeSec, #themeSix{
        width: 170px;
    }

    .del__port{
        margin: 3%;
    }

    .file_part{
        display: flex;
        flex-direction: column;
    }
    .port__card__main {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .port__images{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}


@keyframes rotateLeft {
    from {
      opacity: 1;
      -webkit-transform: rotate3d(0, 0, 1, -200deg);
      transform: translate3d(0, 0, 1, -200deg);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 0;
    }
  }
  
  @keyframes rotateRight {
    from {
      opacity: 0;
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 200deg);
      transform: rotate3d(0, 0, 1, 360deg);
      opacity: 1;
    }
  }

  @keyframes blink {
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }