html{
    scrollbar-width: thin;
    font-size: 10px;
}

body{
    color:white;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif !important;
}

p{
    text-align: justify;
}

.hidden{
    display: none !important;
}

.menu__bar {
    text-align: center;
    display: flex;
    justify-content: center;
}

.menu__size{
    width: 40vw;
    animation: shine 4s ease-in-out forwards infinite;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2%;
}

.menu__bar a {
    font-size: 20px;
    font-variant: small-caps;
    color: white;
    text-decoration: none;
}

.land__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logout{
    color: orangered !important;
    text-decoration: none;
}

#port_name, #invite_name{
    text-align: center;
    /* font-size: medium; */
    font-family: cursive;
}

.land__nav__main{
    display: flex;
    flex-direction: column;
}

.land__whole__sec, .whole__invi__content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(0, 26, 0);
}

.sec__land__bod{
    width: 80vw;
}

.land__content{
    width: 80vw;
}

.porti__off__img{
    margin-left: 1%;
    margin-right: 4%;
}

.nocaps{
    font-variant: normal;
}

.land__nav__sub{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.land__goto{
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 1rem;
    padding: 2%;
    margin: 2vh;
    font-variant: small-caps;
}

.smallest__cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
  
.name__tag{
    margin-top: 0;
    color: white;
    font-size: 8px;
    font-weight: 100;
    font-family: monospace;
    text-align: center;
}

.xsf{
    font-size: 2rem;
}

.port_link, .invi_link{
    font-size: 12px;
    background-color: rgba(220, 20, 60, 0.411);
    color: white;
    padding: 1%;
    overflow-x: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    scrollbar-width: thin;
    text-align: left;
}

.port_link{
    font-size: 2em;
}

.redbtn, .ygbtn{
    border: 2px solid crimson;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 1.5%;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.ygbtn{
    border: 2px solid rgba(153, 205, 50, 0.774);
}

.redbtn:hover{
    background-color: crimson;
    color: white;
}

.ygbtn:hover{
    background-color: rgba(153, 205, 50, 0.774);
    color: white;
}

.limebtn{
    background-color: transparent;
    color: rgb(54, 219, 54);
    border: 1px solid rgb(54, 219, 54);
    padding: 2%;
    text-decoration: none;
    font-weight: bolder;
    font-variant: small-caps;
    letter-spacing: 2px;
    cursor: pointer;
}

.limebtn:hover{
    background-color: rgb(54, 219, 54);
    color: rgb(0, 26, 0);
}

.land__update{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: 1vh;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
}

.upMarg{
    margin: 2%;
}

.upform__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    width: 100%;
}

.upform__head h1{
    font-size: medium;
}

.cancel, .cancl, .cancelSec, .canclCollec, .cancelSix, #goto__viewInvites, #goto__portfolio, .pointer{
    cursor: pointer;
}

.cont{
    margin: 10vh;
    transition: transform .2s;
}

.cont:hover{
    transform: scale(1.5);
}

.profPic{
    height: 10rem;
    width: 10rem;
    border-radius: 8rem;
}

.userdp{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 8rem;
    cursor: pointer;
  }

.port_sec_head{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    display: flex;
    align-items: center;
}
  
.port_sec_head span{
    font-size: 1em;
    font-weight: bold;
}

.grn{
    color: rgb(54, 219, 54);
}

.main__navigation{
    display: flex;
    height: 100vh;
    position: fixed;
    left: 0;
  }
  
  .navigation {
    background-color: rgb(0, 26, 0);
    animation: shine 4s ease-in-out forwards infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    font-variant: small-caps;
    letter-spacing: 2px;
    width: 15vw;
  }
  
.navigation a{
    text-decoration: none;
    color: white;
}

.anavi:hover{
    color: greenyellow;
}

#menuImg:hover{
    filter: grayscale(.7)
}


.upform{
    width: 100%;
    background-color: rgba(37, 37, 37, 0.356);  
    padding: 2%;
    margin: 2%;
}

#upPort label, #upImage label, #upPortSec label, #upImageCollec label, .inviF label, #upInviImage label{
    font-size: 2rem;
    color: gray;
}

#upPort p, #upImage p, #upPortSec p, #upImageCollec p, .inviF p{
    font-size: xx-small;
    margin-top: 0;
    color: gray;
    padding: 0;
}

input, textarea{
    scrollbar-width: none;
}

#upPort input, #upImage input, #upPortSec input, #upImageCollec input, .inviF input, #upInviImage input, .addPortiImages input{
    border: 2px solid crimson;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: transparent;
    color: white;
    padding: 1%;
    width: 348px;
}

#upFb, #upFbSec, #upFbSix{
    width: 25vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#upPort textarea, #upPortSec textarea, .inviF textarea{
    border: 2px solid crimson;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    color: white;
    padding: 1%;
    resize: none;
    width: 348px;
}

.form__bod{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    font-size: 2rem;
}

.form__add__bod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.form__add__bod input{
    width: 100%;
    margin: 2%;
}

.rowConv{
    display: flex;
}

.form__divider{
    margin: 3%;
}

#re__up{
    color: white !important;
}

#logout{
    cursor: pointer;
  }

.success__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success__cont{
    position: fixed;
    top: 40vh;
    background-color: rgba(0, 128, 0, 0.452);
    padding: 5vh;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: small;
    z-index: 1;
}

.error__cont{
    position: fixed;
    top: 40vh;
    background-color: rgba(220, 20, 60, 0.527);
    padding: 5vh;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: small;
    z-index: 1;
}

.cancel__alert{
    cursor: pointer;
    margin-left: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=file]{
    border: none !important;
    cursor: pointer;
}

input::file-selector-button, ::-webkit-file-upload-button{

    background-image: url("/images/upload.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    height: 5vh;
    width: fit-content;
    border: none;
    color: transparent;
}

.checkbox{
    height: 5vh;
    width: 5vw;
    background-color: transparent;
}

.bigbtn{
    height: 50px;

}

.sec__land__bod{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.del__port{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.del__bod{
    margin: 2%;
    width: 100%;
}

.dt__cf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    padding: 2%;
}

#delPort, #delInvite{
    width: 100%;
}

.delete__Confirm{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    width: 100vw;
}

.yesDelete{
    padding: 2%;
}

.noDelete{
    padding: 2%;
}

#updateBtn, #updateBtnSec, #updateBtnSix{
    width: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* #themes, #themeSec, #themeSix, #inthemes, .thim{
} */

.notifier{
    text-align: center;
    margin-top: 45vh;
}

.notifier h1{

    margin-bottom: 4%;
}

.notifier a{
    text-decoration: none;
    padding: 2%;
}

.loader{
    background-color: rgb(0, 26, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    scroll-behavior: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.bink{
    animation: blink 1.5s infinite linear;
}

.arr{
    margin: 1%;
}

.banner{
    background-color: rgba(240, 204, 88, 0.637);
    padding: 1.5%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 1.5rem;
}
  
.bdcb{
    color: gray;
}

.cur{
    color: white;
}

.copy__link{
    display: flex;
    justify-content: space-evenly;
}

.qr__sec{
    display: flex;
    justify-content: center;
}

.qr__img{
    height: 50vh;
}

#editTheme{
    background-color: rgba(0, 0, 0, 0.411);
    margin: 1%;
    padding: 2%;
    border-radius: 2rem;
    font-variant: small-caps;
}

.addHeading{
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addHeading a{
    color: white;
    text-decoration: none;
}

#addImg{
    width: 15%;
    text-align: center;
    padding-left: 5rem;
    margin: 1%;
}

#addName{
    border-top: 0px;
    transition: transform .2s;
    margin: 1%;
    outline: 0;
}

#addName:focus{
    transform: scale(1.2);
}

.addPortiImages{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portImage__tweak__sec h2{
    text-align: center;
    color: white;
}

.port__card__main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: center;
    animation: shine 4s ease-in-out forwards infinite;
    margin-right: 1vw;
}

.port__images{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.438);
}

.port_img{
    height: 20rem;
    width: 15vw;
    cursor: pointer;
}

.group__btn{
    display: flex;
    justify-content: space-between;
}

.paginate__addimg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.del__img__sec{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(220, 20, 60, 0.822);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    text-align: center;
}

.group__delbtn{
    width: inherit;
    display: flex;
    justify-content: space-around;
}

.delbtn{
    background-color: transparent;
    color: white;
    font-weight: bolder;
    padding: 2%;
    border: 2px solid white;
    cursor: pointer;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.delbtn:hover{
    background-color: white;
    color: rgba(220, 20, 60, 0.822);
}

.wite{
    color:white;
}

.footer{
    width: 83%;
    margin-top: 2vh;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    color:gray;
  }
  
  .footer a{
    color: rgba(245, 245, 245, 0.651);
    text-decoration: none;
  }
  
  .rmcaps{
    font-variant: normal;
  }

  .footer a:hover{
    color: greenyellow;
  }
  
  .footer__bod{
    width: 95%;
  }
  
  .footer__top{
    display: flex;
  }
  
  .footer__row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }
  
  .footer__first__bod{
    display: flex;
    flex-direction: column;
  }
  
  .footer__contact__detail{
    width: 50%;
    text-align: left;
  }
  
  .footer__contact__bod{
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 50%;
  }

.footer__sec__bod{
    display: flex;
    justify-content: space-around;
}

@media (min-width: 601px) and (max-width: 900px){
    .navigation a{
        font-size: 1.8vw;
      }
    .land__sixth, .land__secd, .land__farst{
        margin-left: 0%;
    }

    .port_link, .invi_link{
        font-size: 7px;
        padding: 2%;
    }

    .port_link{
        font-size: 1.5em;
    }

    .banner{
        font-size: 12px;
    }

    #upPort label, #upImage label, #upPortSec label, #upImageCollec label, .inviF label, #upInviImage label{
        font-size: 1.8rem;
    }

    .xsf{
        font-size: 1.8rem;
    }

    #editTheme{
        margin: 3%;
        padding: 2%;
    }

    #addImg{
        width: 20%;
        padding-left: 5rem;
    }

    .port__images{
        width: 35%;
    }

    .port_img{
        width: auto;
    }
    .form__bod label{
        font-size: 1.8rem;
        width: 40%;
    }
    
    .form__bod input, .form__bod textarea{
        width: 300px !important;
    }
    #themes, #themeSec, #themeSix{
        width: 300px;
    }
}

@media screen and (max-width: 600px){
    input, select, textarea{
        font-size: 16px !important;
    }
    .menu__bar{
        position: sticky;
        top: 0;
    }
    .main__navigation{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .land__whole__sec{
        flex-direction: column;
    }

    .navigation{
        width: 90%;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        height: auto;
      }
    
    .land__whole__sec{
        align-items: center;
    }

      .land__content, .sec__land__bod{
        width: 100vw;
      }
    .banner{
        font-size: 10px;
    }

    .land__sixth, .land__secd, .land__farst{
        margin-left: 0%;
    }

    #upPort, #upPortSec, #upPortSix, #upImageCollec, #update_ImgForm{
        padding: 0;
    }

    #upPort label, #upImage label, #upPortSec label, #upImageCollec label, .inviF label, #upInviImage label{
        font-size: 1.2rem;
    }

    #editTheme{
        margin: 4%;
        padding: 2%;
    }
    #addImg{
        width: 50%;
        padding-left: 4rem;
    }

    .rowConv{
        display: flex;
        flex-direction: column;
    }

    .xsf{
        font-size: 1.2rem;
    }

    .port_link, .invi_link{
        font-size: 3px;
        padding: 2%;
    }
    .port_link{
        font-size: 1.2em;
    }
    
    .form__bod{
        display: flex;
        flex-direction: column;
    }

    .form__bod label{
        font-size: 1.2rem;
        width: fit-content;
    }
    
    .form__bod input, .form__bod textarea{
        width: 80% !important;
    }

    #themes, #themeSec, #themeSix{
        width: 170px;
    }

    .del__port{
        margin: 3%;
    }

    .port__card__main {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .port__images{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .port_img{
        width: auto;
    }

    .footer{
        width: 100%;
      }
    
      .footer__top{
        flex-direction: column;
      }
      
      .footer__row{
        width: 100%;
      }
    
      .footer__contact__detail{
        width: 100%;
      }
      
      .footer__contact__bod{
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
      }

    .footer__first__bod, .footer__sec__bod{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}


@keyframes rotateLeft {
    from {
      opacity: 1;
      -webkit-transform: rotate3d(0, 0, 1, -200deg);
      transform: translate3d(0, 0, 1, -200deg);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 0;
    }
  }
  
  @keyframes rotateRight {
    from {
      opacity: 0;
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 200deg);
      transform: rotate3d(0, 0, 1, 360deg);
      opacity: 1;
    }
  }

  @keyframes blink {
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes shine {
    0%{
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.171);
    }
    10%{
        box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.171);
    }
    25%{
        box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.171);
    }
    50%{
        box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.171);
    }
    75%{
        box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.171);
    }
    90%{
        box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.171);
    }
    100% {
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.171);
    }
  }

  @keyframes blackShine {
    0%{
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.171);
    }
    10%{
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.171);
    }
    25%{
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.171);
    }
    50%{
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.171);
    }
    75%{
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.171);
    }
    90%{
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.171);
    }
    100% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.171);
    }
  }