html{
    font-size: 10px;
    scrollbar-width: thin;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.274) rgba(0, 0, 0, 0.274);
  }
  
  body{
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: rgb(0, 26, 0);
    color: white;
    margin: 0px;
    padding: 0px;

}

::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(27, 27, 27); 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.411); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:rgba(0, 0, 0, 0.411); 
  }

.hidden{
    display: none !important;
}

.msg{
    display: flex;
    justify-content: center;
}

.message{
    background-color: teal;
    width: 50vw ;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

.sender__name{
    font-weight: bold;
}

.login__bod{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding-top: 20vh;
  height: 80vh;
}

.portDet{
  color: white;
  font-size:large;
}

.port_sec_head{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  display: flex;
  align-items: center;
}

.port_sec_head span{
  font-size: 1em;
  font-weight: bold;
}

.menu__bar {
  text-align: center;
  display: flex;
  justify-content: center;
}

.menu__size{
  width: 40vw;
  animation: shine 4s ease-in-out forwards infinite;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 2%;
}

.menu__bar a{
  text-decoration: none;
  color: white;
  font-size: 2vw;
  font-variant: small-caps;
}

.main__navigation{
  display: flex;
  height: 100vh;
  position: fixed;
  left: 0;
}

.navigation {
  background-color: rgb(0, 26, 0);
  animation: shine 4s ease-in-out forwards infinite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  font-variant: small-caps;
  width: 15vw;
}

.navigation a{
  text-decoration: none;
  color: white;
}

.anavi:hover{
  color: greenyellow;
}

#menuImg:hover{
  filter: grayscale(.7)
}

.nocaps{
  font-variant: normal;
  font-size: 1.8rem !important;
}

.wite{
  color: white;
}

.nodeco{
  text-decoration: none;
  color: white;
}

.bold{
  font-weight: bolder;
}

.login__head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.login{
  text-decoration: none;
  color: whitesmoke;
  font-size: large;
  font-weight: bolder; 
}

.login:hover{
  color: green;
}

.login__form, .fg__form, #reset__form, #upInfo, #upPass, #upAccImg, .form__acc__dp{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upInfo, #upAccImg{
  padding: 1%;
}

.btnpad{
  width: fit-content;
  padding: 4% !important;
  margin: 4% !important;
}

.login__form{
  min-height: 100vh;
}

#loginForm, #forgotPwd, .signup__form{
  background-color: rgba(255, 255, 255, 0.103);  
  backdrop-filter: blur(5px);
  padding: 2%;
  margin: 2%;
  width: 75vw;
  text-align: center;
  font-variant: small-caps;
}

.signup__form{
  background-color: rgba(37, 37, 37, 0.356);  
  backdrop-filter: blur(5px);
}

.terms__cond{
  margin-top: 2%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#termbox{
  width: 4vw;
  height: 4vh;
  cursor: pointer;
}

#termsandcond{
  cursor: pointer;
  color: greenyellow;
  font-weight: bold;
}

#termsandcond:hover{
  color: gray;
}

.termsandconditions{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(10, 176, 241, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
}

.term__main{
  width: 50%;
  height: 80vh;
  background-color: white;
  overflow-y: auto;
  color: black;
  border-radius: 2rem;
}

.terms__head{
  display: flex;
  justify-content: space-around;
}

.bottom__sec{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.select__account__type__sec{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.925);
  z-index: 6;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account__types{
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-around;
}

.account_v_types{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;
  height: 50vh;
  margin-right: 10vw;
}

.txt, .showSwitches{
  margin-right: 10vw;
}

.rd{
  color: red;
}

.acc__typ__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 2%;
  cursor: pointer;
  font-variant: small-caps;
}

.portfolio{
  background-color: rgba(0, 128, 128, 0.801);
}

.restaurant{
  background-color: rgba(218, 165, 32, 0.76);
}

.business{
  background-color: green;
}

.brochure{
  background-color: orangered;
}

.acc__typ__card:hover{
  background-color: rgba(128, 128, 128, 0.699);
}

#acHead{
  color: white;
  text-align: center;
}

.profPic{
  width: 10rem;
  height: 10rem;
  border-radius: 8rem;
}

.satProf{
  filter: saturate(2);
}

#upProfPic{
  margin: 1%;
}

.userDp{
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
}

#upInfo h2, #upPass h2{
  color: yellowgreen;
}

.signup__main{
  padding: 0;
  display: flex;
  align-items: center;
}

.update__account__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-variant: small-caps;
}

.btn__login, .btn__forgotPwd, .btn__signup, .btn__reset, .update__account, .btn__pwd{
  margin: 2%;
}

.login__form__bod, .signup__bod{
  display: flex;
  flex-direction: column;
  margin: 1%;
  align-items: center;
}

.update__account__form {
  margin-left: 10vw;
}

.update__background{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.bg__fix {
  width: 90%;
  margin: 2%;
  display: flex;
  justify-content: space-around;
}

.up__bg{
  border: 2px solid gray;
  text-align: center;
  cursor: pointer;
  border-radius: 2rem;
  /* padding: 1%; */
}

.up__bg img{
  border-radius: 2rem;
}

.up__bg:hover{
  filter: invert(1);
  background-color: gray;
  color: rgb(0, 26, 0)
}

.bg__opt{
  width: 10vw;
  height: 10vh;
}

#logout, #view, #viewInvites{
  cursor: pointer;
}

.logout{
  color: orangered !important;
}

.form__sub{
  margin: 1%;
}

.form__sub input{
  height: 4rem;
}

.form__label{
  margin: 1%;
  color: white
}

.form__input{
  background-color: transparent;
  color: white;
  border: 2px solid crimson;
  border-radius: 1rem;
  padding: 1%;
  height: 30px;
}

.smallest__cont{
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}

.name__tag{
  margin-top: 0;
  color: white;
  font-size: 8px;
  font-weight: 100;
  font-family: monospace;
}

.rmtxtdec{
  text-decoration: none;
  text-align: center;
}

.creation__body{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.port__bod, .invi__section, .menu__section, .newsec{
  margin: 1%;
  /* background-color: rgba(0, 0, 0, 0.411);   */
  backdrop-filter: blur(5px);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 2%;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
  font-size: 12px;
  font-variant: small-caps;
  animation: shine 4s ease-in-out forwards infinite;
  width: 77vw;
}

.port__highlights__bod,.invi__highlights__section,.menu__highlights__section, .catalouge__highlights__section{
  margin: 1%;
  /* background-color: rgba(0, 0, 0, 0.411);   */
  backdrop-filter: blur(5px);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 2%;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
  font-size: 12px;
  font-variant: small-caps;
  animation: shine 4s ease-in-out forwards infinite;
  width: 94vw;
}

.cr__bod__headr{
  font-size: medium;
}

.layout__main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: white;
}

.un_layout, .un_layout_log{
  padding: 1%;
}

.un_layout img, .un_layout_log img{
  width: 35vw;
  height: 40vh;
  cursor: pointer;
  border-radius: 1rem;
}

.un_layout img:hover{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.unl, .portunl{
  border-radius: 1rem;
  overflow: hidden;
  padding: 1%;
}

.un_layout_log img{
  transition: transform .2s;
}

.un_layout_log img:hover{
  transform: scale(1.15);
}

.comp__form__main{
  display: flex;
  justify-content: center;
}

.comp__form, .com__form{
  background-color: rgba(37, 37, 37, 0.356);  
  backdrop-filter: blur(5px);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 2%;
  margin: 2%;
  width: auto;
  font-family: monospace, Arial, Helvetica, sans-serif;
  /* justify-content: center; */
}

.com__form{
  height: 65vh;
  display: flex;
  flex-direction: column;
}

.form__head, .forgt__head, .signup__head{
  display: flex;
  justify-content: space-around;
}

#closeBtn, #signCancel, .pointer{
  cursor: pointer;
}

.signupnot{
  color: yellowgreen;
}

.signup__bod p{
  margin: 0;
  padding: 0;
}

.form__cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}

.portForm{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form__cont label, .portForm label{
  margin: 1%;
  font-size: 2rem;
  color: white;
}

.form__cont textarea, .form__cont input{
  background-color: transparent;
  color: white;
  padding: 1%;
  border: 2px solid crimson;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 18vw;
}

.inpt__disable{
  border: 2px solid gray;
  color: gray;
}

.portForm input, .portForm textarea{
  padding: 3%;
  border: 2px solid teal;
  width: 18vw;
}

.portForm textarea, .form__cont textarea{
  height: 10vh !important;
}

.form__cont textarea, .portForm textarea{
  resize: none;
}

.form__first__cont{
  height: 50%;
  background-color: teal;
  border-radius: 1rem;
  padding: 2%;
  margin-bottom: 4%;
  overflow-y: auto;
}

.form__sec__cont{
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.port__info{
  margin-left: 2%;
  font-size: 1.5rem;
}

.btnGroup{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 4%;
}

.port__form__btn{
  border: 2px solid teal;
  padding: 14px;
  color: white;
  background-color: transparent;
}

.port__form__btn:hover{
  background-color: teal;
  color: white;
  cursor: pointer;  
}

.portSubmit{
  margin: 4%;
}

.cancel__create, .cancelcreate, .closecreate, .clcreate, .clFivecreate, .clSixthcreate{
  cursor: pointer;
}

.head__main{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#createporti{
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

#createporti:hover{
  color: gray;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type=file]{
  border: none !important;
  cursor: pointer;
}

input::file-selector-button, ::-webkit-file-upload-button{

  background-image: url("/images/upload.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  height: 5vh;
  width: fit-content;
  border: none;
  color: transparent;
}

.checkbox{
  cursor: pointer;
  display: absolute;
  width: 5vw;
  height: 5vh;
  background: transparent;
}

.redbtn{
  border: 2px solid crimson;
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 1.5%;
}

.redbtn:hover{
  background-color: crimson;
  color: white;
}

.invi__grp{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.card__main{
  width: 83%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-top: 4%;
}

.card{
  border: 1px solid white;
  width: 20vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  margin: 1%;
  background-color: rgba(41, 41, 41, 0.425);
  font-family: cursive;
  font-size: 16px;
  padding: 4%;
}

.card:hover{
  background-color: rgba(255, 255, 255, 0.37);
  color: rgba(41, 41, 41, 0.425)
}

.card p {
  color: rgb(97, 96, 96);
}

.confirm__pg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: larger;
}

.confirm__pg h1{
  color: white;
}

#reset__head{
  padding-top: 0;
  color: yellowgreen;
  font-size: xx-large;
}

.confirm__pg a{
  text-decoration: none;
  padding: 1%;
  display: flex;
  align-items: center;
}

.four0four{
  text-align: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.four0four h1{
  font-size: 4rem;
}

#four0{
  color: hotpink;
}

.four0four a{
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
  color: white;
  border: 1px solid hotpink;
  padding: 2%;
}

.four0four a:hover{
  background-color: hotpink;
}


.success__main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success__cont{
  position: fixed;
  top: 40vh;
  background-color: rgba(0, 128, 0, 0.452);
  padding: 5vh;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  font-weight: 800;
  font-size: small;
  z-index: 1;
}

.error__cont{
  position: fixed;
  top: 40vh;
  background-color: rgba(220, 20, 60, 0.527);
  padding: 5vh;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  font-weight: 800;
  font-size: small;
  z-index: 1;
}

.info__cont{
  position: absolute;
  top: 40vh;
  background-color: rgba(27, 27, 27, 0.726);
  color: white;
  font-weight: 800;
  font-size: medium;
  padding: 5vh;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.cancel__alert{
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.loader{
  background-color: rgb(0, 26, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  scroll-behavior: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.bink{
  animation: blink 1.5s infinite linear;
}

.crpt{
  padding: 1%;
}

.bdcb{
  color: gray;
}

.arr{
  margin: 1%;
}

.cur{
  color: white;
}

.fwarn{
  color: hotpink;
  font-size: monospace;
}

.noti__sec{
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;
}

.warn{
  color: rgb(255, 142, 142);
}

.sticky__section{
  /* background-color:; */
  padding: 1%;
  text-align: center;
  width: fit-content;
  border-radius: 2rem;
  font-family: Tourney;
  /* text-shadow: 2px 2px rgba(0, 0, 0, 0.555); */
}

.gGroup{
  display: flex;
  justify-content: space-around;
}

.whitebtn{
  padding:1%;
  margin: 1%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 1rem;
  cursor: pointer;
}

.whitebtn:hover{
  background-color: white;
  color: black;
}

.limebtn{
  background-color: transparent;
  color: rgb(54, 219, 54);
  border: 1px solid rgb(54, 219, 54);
  padding: 2%;
  text-decoration: none;
  font-weight: bolder;
  font-variant: small-caps;
  cursor: pointer;
}

.limebtn:hover{
  background-color: rgb(54, 219, 54);
  color: rgb(0, 26, 0);
}

.search__section{
  display: flex;
  justify-content:flex-end;
}

.search__body{
  display: flex;
  width: 83%;
  flex-direction: column;
  /* background-color: red; */
  margin-right: 1%;
  justify-content: center;
  align-items: center;
}

.search__box{
  display: flex;
  width: 100%;
  justify-content: center;
}

.search_bar{
  border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid chartreuse;
    padding: 1%;
    margin-bottom: 2%;
    width: 40vw;
    outline: 0;
    background-color: transparent;
    color: chartreuse;
    transition: transform .2s;
}

.search_bar:focus{
  transform: scale(1.2);
}

.search__head {
  display: flex;
  justify-content: space-around;
}

.search__groups{
  animation: shine 4s ease-in-out forwards infinite;
  padding: 2%;
  width: 70%;
}

.res{
  font-variant: small-caps;
  color:rgba(255, 255, 255, 0.171);
}

.search__values{
  display: flex;
  flex-direction: column;
}

.search__results a{
  color: goldenrod;
  text-decoration: none;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  animation: shine 4s ease-in-out forwards infinite;
  border-radius: 2rem;
  margin: 2vw;
}

.search__results a:hover{
  background-color: gray;
  border-color: gray;
  color: white;
}

.footer{
  width: 83%;
  margin-top: 2vh;
  font-size: 1.2em;
  font-family: monospace;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color:gray;
}

.footer a{
  color: rgba(245, 245, 245, 0.651);
  text-decoration: none;
}

.footer a:hover{
  color: greenyellow;
}

.footer__bod{
  width: 95%;
}

.footer__top{
  display: flex;
}

.footer__row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.footer__first__bod{
  display: flex;
  flex-direction: column;
}

.footer__contact__detail{
  width: 50%;
  text-align: left;
}

.footer__contact__bod{
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-left: 50%;
}

.footer__sec__bod{
  display: flex;
  justify-content: space-around;
}

@media (min-width: 601px) and (max-width: 900px){
  .navigation a{
    font-size: 1.8vw;
  }

  .profPic{
    width: 6rem;
    height: 6rem;
  }
  .term__main{
    width: 80%;
  }

  .update__background{
    justify-content: space-around;
  }
  
  .bg__fix{
    width: 80%;
    height: fit-content;
    flex-wrap: nowrap;
    /* flex-direction: column; */
  }
  .bg__opt{
    width: 15vw;
  }

  .acc__typ__card{
    margin: 2%;
  }

  .comp__form{
    width: 92%;
  }
  .form__sub input{
    height: 2.5rem;
  }

  .form__cont label, .portForm label{
    font-size: 1.8rem;
    width: 40%;
  }

  .form__cont textarea, .form__cont input{
    width: 70vw;
  }

  .portForm textarea, .portForm input{
    width: 70vw;
  }

  .un_layout img, .unl img, .portunl img{
      width: 60vw;
      height: 40vh;
      margin-top: 4%;
    }

  .un_layout{
      padding-left: 0;
    }

    .un_layout img, .un_layout_log img{
      height: 25rem;
    }

    #upPic{
      height: fit-content;
    }

    .invi__grp{
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

  .card__main{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 20%;
  }

  .card{
      width: 30vw;
      padding: 4%;
      font-size: small;
    }

  #acHead{
    padding-bottom: 10vh;
  }

  .redbtn{
    padding: 2%;
  }

}


@media screen and (max-width: 600px){
    input, select, textarea{
      font-size: 16px !important;
    }
  .term__main{
    width: 80%;
  }

  .account__types{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .menu__bar{
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .main__navigation{
      position: relative;
      display: flex;
      justify-content: center;
  }

  .navigation{
      width: 90%;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      height: auto;
  }

  .update__account__form{
    margin-left: 0;
    align-items:center;
    padding: 2vw;
  }

  .bg__fix{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .bg__opt{
    width: 25vw;
  }
  
  .up__bg{
    margin-top: 4%;
  }

  .port__bod, .invi__section, .menu__section, .newsec{
    width: 93vw;
  }

  .comp__form{
    padding: 4%;
    width: 88%;
  }
  .form__cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .form__sub input{
    height: auto;
  }
  .form__cont label, .portForm label{
    font-size: 1.5rem;
    width: fit-content;
  }

  .form__cont textarea, .form__cont input, .portForm textarea, .portForm input{
    width: 70vw;
    padding: 3%;
  }

  .form__btn{
    display: flex;
    padding: 2vh;
    align-items: center;
    justify-content: center;
  }

  .redbtn{
    padding: 2vh;
  }

  .small__nav{
    font-size: .7rem;
  }

  .un_layout img, .unl img, .portunl img{
    width: 80vw;
    height: 30vh;
    margin-top: 4%;
  }

  .small__form{
    display: flex !important;
    flex-direction: column !important;
  }

  .account__update__section{
    flex-direction: column;
  }

  .un_layout{
    padding-left: 0;
  }

  .un_layout img, .un_layout_log img{
    height: 20rem;
  }

  .invi__grp{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .card__main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card{
    width: 80vw;
    padding: 2%;
    text-align: center;
    font-size: small;
  }

  .form__input{
    padding: 4%;
  }

  #upAccImg{
    width: 100%;
  }

  .search__body{
    margin-top: 5vh;
    width: 100%;
    padding: 2vw;
  }

  .footer{
    width: 100%;
  }

  .footer__top{
    flex-direction: column;
  }
  
  .footer__row{
    width: 100%;
  }

  .footer__contact__detail{
    width: 100%;
  }
  
  .footer__contact__bod{
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  .footer__first__bod, .footer__sec__bod{
    flex-direction: column;
    text-align: center;
}

}

@keyframes rotateLeft {
  from {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: translate3d(0, 0, 1, -200deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}

@keyframes rotateRight {
  from {
    opacity: 0;
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
    transform: rotate3d(0, 0, 1, 360deg);
    opacity: 1;
  }
}

@keyframes blink {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shine {
  0%{
      box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.171);
  }
  10%{
      box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.171);
  }
  25%{
      box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.171);
  }
  50%{
      box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.171);
  }
  75%{
      box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.171);
  }
  90%{
      box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.171);
  }
  100% {
      box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.171);
  }
}

@keyframes blackShine {
  0%{
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.171);
  }
  10%{
      box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.171);
  }
  25%{
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.171);
  }
  50%{
      box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.171);
  }
  75%{
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.171);
  }
  90%{
      box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.171);
  }
  100% {
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.171);
  }
}