doctype html
html(lang="en-GB")
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(name="keywords" content="Invitation, Card, Party, Marriage, Birthdays, House Party, Wishes")
      meta(name="description" content="Create Invitation Webpage For Free. Create Share with your friends in just couple of seconds. Creating a invitaion has never been so easy. signup and make your Invitaion card Right Now")
      link(rel="icon" href="/images/hitman.png" type="image/x-icon")
      link(rel='stylesheet' href='/css/invite/inviStyle.css')
      link(rel="stylesheet", href='/css/invite/firstinviStyle.css')
      link(rel="stylesheet", href='/css/invite/secondinviStyle.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      title #{title} | TechMafia 

  body()

    // CONTENT
    block content
      h1 This is a placeholder heading