doctype html
html(lang="en-GB")
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(name="keywords" content="Menu, Restaurant, Cafe, Bakery, Food")
      meta(name="description" content="Create Food Menu For Free. Why bother making printing a menu when you have to change the details every now and then. Just sign up and create your Menu, Easy update, Easy qr scan option or link option for your customers.")
      link(rel="apple-touch-icon" href="https://portiblobstorage.blob.core.windows.net/portithemeimage/smalport.png")
      link(rel="icon" href="https://portiblobstorage.blob.core.windows.net/portithemeimage/smalport.png" type="image/x-icon")
      link(rel='stylesheet' href='/css/menu/menuStyles.css')
      link(rel='stylesheet' href='/css/menu/menuFirstStyle.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      title #{title} | Porti 

  body()

    // CONTENT
    block content
      h1 This is a placeholder heading