body{
    background-color: white;
}
.custom__nav{
    z-index: 1;
}
.custom__catal__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: black;
    font-size: 16px;
    background-color: white;
    position: fixed;
    top: 0;
}

.custom__ham{
    position: fixed;
    top: 2%;
    left: 2%;
    height: 5rem;
    width: 5rem;
    border-radius: 8rem;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.custom__ham__inside{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.445);
    font-size: 20px;
}

.ham__head{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.hamanc {
    color: white !important;
}

.cusanc{
    text-decoration: none;
    color: black;
}

.custom__dp{
    width: 100vw;
    height: 100vh;
}

.custom__catal__backpic{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.custom__search__sec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.custom__searchbar{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid crimson;
    color: crimson;
    padding-bottom: 0;
    outline: 0;
    transition: transform .2s;
    background-color: transparent;
}

.custom__searchbar:focus{
    transform: scale(1.2);
}

.custom__body__sec{
    padding: 2%;
}

.custom__prod__sec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.custom__products{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: black;
    width: fit-content;
    padding: 1%;
    border-radius: 1rem;
    margin: 1%;
}

.custom__prod__top{
    display: flex;
    justify-content: center;
}

.custom__prod__bottom{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.custom__grp{
    display: flex;
    justify-content: space-around;
}

.custom__btn{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 2%;
    cursor: pointer;
    font-weight: bolder;
}

.custom__orders{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.cusorders{
    background-color: whitesmoke;
    border-radius: 1rem;
    color: black;
    padding: 1%;
    margin: 1%;
    width: fit-content;
}

.footer__cont{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cancelProduct{
    width: fit-content;
    height: fit-content;
}

.simnoimg{
    width: auto;
    height: auto;
}

.cus__cat__item__card{
    background-color: white;
    color: black;
    margin: 1%;
    width: 20vw;
    border-radius: .5rem;
}

.resdetail{
    top: 10%;
}
