
html{
    scroll-behavior: smooth;
}

.sec__cat{
    background-color: white;
}

.edit__sec__cat{
    position: fixed;
    font-size: 3rem;
    left: 0;
    top: 45vh;
    background-color: rgba(0, 0, 0, 0.856);
    width: 4rem;
    height: 4rem;
    border-radius: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.sec__cat__covimg__sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec__cat__coverpic{
    width: 100vw;
    height: 70vh;
    /* -webkit-clip-path: polygon(20% 0%, 58% 68%, 100% 20%, 66% 71%, 80% 100%, 43% 63%, 0% 80%, 41% 55%); 
    clip-path: polygon(20% 0%, 58% 68%, 100% 20%, 66% 71%, 80% 100%, 43% 63%, 0% 80%, 41% 55%); */
}

.edit__features__sec{
    position: fixed;
    top: 0;
    left: 0;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.856);
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.edit__feat__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feat_form_bod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form__bod__cat{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.grp_sec_cat_btn{
    display: flex;
    justify-content: space-between;
    margin: 4%;
    width: 18vw;
}

.catbtn{
    background-color: rgb(243, 243, 243);
    border: 2px solid gray;
    color: gray;
    cursor: pointer;
    padding: 4%;
}

.catbtn:hover{
    background-color: gray;
    color: rgb(243, 243, 243);
}

.point, input[type="color"]{
    cursor: pointer;
}

label{
    width: fit-content;
}

.resdetail, .resorder, .return__btn{
    position: fixed;
    font-size: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    padding: 1%;
    width: 2rem;
    height: 2rem;
    border-radius: 12rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.514);
    align-items: center;
}

.resdetail{
    left: 0;
    top: .5vh;
    z-index: 4;
}

.resorder{
    right: 0;
    top: .5vh;
    z-index: 4;
}

.return__btn{
    left: 0;
    bottom: .5vh;
    z-index: 4;
}

.resorderfill{
    position: fixed;
    top: 2vh;
    right: 2vw;
    z-index: 5;
    width: 1rem;
    height: 1rem;
    border-radius: 8rem;
    background-color: orangered;

}

.return__fill{
    position: fixed;
    bottom: 2vh;
    left: 2vw;
    z-index: 5;
    width: 1rem;
    height: 1rem;
    border-radius: 8rem;
    background-color: orangered;
}

.restro__info, .resorder__info, .productModal, .return__sec{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resorder__info{
    z-index: 4;
}

.restromidsec, .catdeatilmidsec, .sec__sub__item__modal, .productMidModal, .return__midsec{
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: fit-content;
    height: fit-content;
    width: 90%;
    height: 90%;
    overflow-y: auto;
    scrollbar-width: none;
}

.productMidModal{
    background-color: rgba(0, 0, 0, 0.918);
}

.res__detail__head, .product__head, .return__head {
    display: flex;
    justify-content: space-around;
}

.restro__info__bod,.sec__cat__sub, .return__bod {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product__bod{
    display: flex;
    flex-direction: column;
}

.similar__bod{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.foods__order__his, .returns{
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
}

.form__cont__order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

input, textarea{
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 2%;
}

input{
    height: 5vh;
}

.form__cont__order textarea{
    height: 10vh;
}

.seccatbtn{
    margin: 2%;
    background-color: transparent;
    color: gray;
    font-family: monospace;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid gray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.76);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.87);
}

.seccatbtn:hover{
    background-color: transparent;
    color: gray;
}

#userno{
    color: white;
    border-color: gray;
}

.food__order__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 2rem;
    font-family: monospace;
    padding: 2%;
    margin: 2%;
    width: 60vw;
    text-align: center;
}

.food__order__list{
    background-color: rgba(0, 128, 128, 0.685);
}

.faded{
    color: wheat;
    font-size: 10px;
    margin: 0;
}

.sec__menu__banner{
    position: absolute;
    top: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    font-size: 25px;
    z-index: 2;
}

.bannerinfo{
    width: 80%;
    padding: 2%;
    margin: 0;
}

.sec__search__items {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secSearchInput{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid gray;
    padding: 0;
    outline: 0;
    background-color: transparent;
    color: gray;
    transition: transform .2s;
}

.secSearchInput:focus{
    transform: scale(1.2);
}

.cntre{
    display: flex;
    justify-content: center;
}

.getAllSecCatItem{
    padding:1%;
}

.sec__cat__hotitems{
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.685);
}

.sec__cat__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sec__cat__item__card {
    background-color: white;
    color: gray;
    margin: 1%;
    width: 20vw;
    border-radius: .5rem;
}

.sec__cat__img{
    width: 20vw;
    height: 30vh;
}

.sec__cat__item__info{
    padding: 1%;
}

.sec__cat__categories:hover{
    color:gray;
}

.sec__cat__btn__grp{
    display: flex;
    justify-content: space-between;
}

.contact__sec__catal__sec{
    background-color: rgb(243, 243, 243);
    color: gray;
    padding: 2%;
    font-size: 16px;
}

.product__bod__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.product__card__img{
    width: 60vw;
    height: 50vh;
}

.product__card__det{
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.quantityInpt, .cartItemQuantity{
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form__item__display__sec{
    display: flex;
    flex-direction: column;
}

.cart__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    padding: 1%;
    background-color: #1b1b1b;
    margin: 1%;
}

.cart__card__item{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.cart__card__img{
    width: 10vw;
    height: 10vh;
}

.cartItemQuantity{
    width: 20%;
}

.wait{
    animation: blink 1.5s infinite linear;
}

#newComment{
    padding: 0;
}

.comment__card{
    background-color: rgba(0, 0, 0, 0.959);
    border: 1px solid gray;
    border-radius: 2rem;
    margin: 1%;
    padding: 1%;
    font-size: 16px;
}

.comment__head{
    display: flex;
    justify-content: space-between;
}

.rdstock{
    color: red;
    text-shadow: 1px 1px 1px black;
}

.contact__sec__catal__sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 601px) and (max-width: 900px){
    .resorderfill{
        top: 1vh;
        right: 2vw;
    }
    .grp_sec_cat_btn{
        width: 40vw;
    }

    .sec__cat__item__card {
        width: 30vw;
    }

    .sec__cat__img{
        width: 30vw;
        height: 20vh;
    }
    .similarcard, .simimg{
        width: 27vw;
    }
}

@media screen and (max-width: 600px){
    .grp_sec_cat_btn{
        width: 60vw;
    }

    .resdetail, .resorder{
        padding: 1%;
        font-size: 25px;
        width: 4rem;
        height: 4rem;
        border-radius: 12rem;
    }

    .sec__cat__item__card {
        width: 45vw;
    }

    
    .sec__cat__img{
        width: 45vw;
        height: 20vh;
    }
    
    .similarcard, .simimg{
        width: 42vw;
    }
    .sec__cat__btn__grp button{
        font-size: 16px;
    }

    .product__card__img{
        width: 80vw;
        height: 50vh;
    }

    .cart__card__img{
        width: 18vw;
        height: 10vh;
    }

    .contact__sec__catal__sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
